3dparty/DevExpress20.1/Framework/zh-Hans/json resources/dx-rich.zh-Hans.json
{
  "OfficeStringId.Caption_EditHyperlinkForm": "编辑超链接",
  "OfficeStringId.Caption_EditHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_InsertHyperlinkForm": "插入超链接",
  "OfficeStringId.Caption_InsertHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_UnitCentimeters": "厘米",
  "OfficeStringId.Caption_UnitInches": "英寸",
  "OfficeStringId.Caption_UnitMillimeters": "厘米",
  "OfficeStringId.Caption_UnitPercent": "百分比",
  "OfficeStringId.Caption_UnitPoints": "点",
  "OfficeStringId.FileFilterDescription_AllFiles": "所有文件",
  "OfficeStringId.FileFilterDescription_AllSupportedFiles": "所有支持的文件",
  "OfficeStringId.FileFilterDescription_BitmapFiles": "Windows位图",
  "OfficeStringId.FileFilterDescription_EmfFiles": "微软增强型图元文件",
  "OfficeStringId.FileFilterDescription_GifFiles": "图形交换格式",
  "OfficeStringId.FileFilterDescription_JPEGFiles": "JPEG文件交换格式",
  "OfficeStringId.FileFilterDescription_PNGFiles": "便携式网络图形",
  "OfficeStringId.FileFilterDescription_TiffFiles": "标签图像文件格式",
  "OfficeStringId.FileFilterDescription_WmfFiles": "Windows图元文件",
  "OfficeStringId.MenuCmd_AlignmentCenter": "中心",
  "OfficeStringId.MenuCmd_AlignmentCenterDescription": "文本的中心。",
  "OfficeStringId.MenuCmd_AlignmentJustify": "两端对齐",
  "OfficeStringId.MenuCmd_AlignmentJustifyDescription": "为了使实现文本的左右对齐，必要时可以在文字间添加 空格。这样一来，有助于沿着页面的左右两侧创建一个整齐的外观。",
  "OfficeStringId.MenuCmd_AlignmentLeft": "文本左对齐",
  "OfficeStringId.MenuCmd_AlignmentLeftDescription": "文本左边对齐。",
  "OfficeStringId.MenuCmd_AlignmentRight": "文本右对齐",
  "OfficeStringId.MenuCmd_AlignmentRightDescription": "文本向右对齐。",
  "OfficeStringId.MenuCmd_ChangeFontColor": "字体颜色",
  "OfficeStringId.MenuCmd_ChangeFontColorDescription": "改变文本颜色。",
  "OfficeStringId.MenuCmd_ChangeFontName": "字体",
  "OfficeStringId.MenuCmd_ChangeFontNameDescription": "改变字体。",
  "OfficeStringId.MenuCmd_ChangeFontSize": "字体大小",
  "OfficeStringId.MenuCmd_ChangeFontSizeDescription": "改变字体大小。",
  "OfficeStringId.MenuCmd_ClearUndo": "清除撤销",
  "OfficeStringId.MenuCmd_ClearUndoDescription": "清除撤销缓冲区",
  "OfficeStringId.MenuCmd_CopySelection": "复制",
  "OfficeStringId.MenuCmd_CopySelectionDescription": "复制选中内容并把它放在剪贴板上。",
  "OfficeStringId.MenuCmd_CutSelection": "剪切",
  "OfficeStringId.MenuCmd_CutSelectionDescription": "从文档中剪切选中的内容并把它放在在剪贴板上。",
  "OfficeStringId.MenuCmd_DecreaseFontSize": "缩小字体",
  "OfficeStringId.MenuCmd_DecreaseFontSizeDescription": "减小字体大小。",
  "OfficeStringId.MenuCmd_DeleteComment": "删除注释",
  "OfficeStringId.MenuCmd_DeleteCommentDescription": "删除选中内容。",
  "OfficeStringId.MenuCmd_EditComment": "Edit Comment",
  "OfficeStringId.MenuCmd_EditCommentDescription": "Add a note about this part of the document.",
  "OfficeStringId.MenuCmd_EditHyperlink": "编辑超链接...",
  "OfficeStringId.MenuCmd_EditHyperlinkDescription": "编辑超链接...",
  "OfficeStringId.MenuCmd_Encrypt": "Encrypt with Password",
  "OfficeStringId.MenuCmd_EncryptDescription": "Require a password to open this workbook.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForward": "将提前",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroup": "将提前",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroupDescription": "使所选的对象向前一个级别，或使其在所有其他对象之前。",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardDescription": "使所选的对象，向前迈进，使它隐藏的是在它前面的对象越少",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFront": "带到前面",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFrontDescription": "带来其他的所有对象之前选定的对象，因此它的任何部分隐藏在其他对象.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackward": "下移一层",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroup": "下移一层",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroupDescription": "发送选定的对象返回一个级别，或将其发送所有其它对象的后面。",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardDescription": "发送所选的对象向后的所以，它隐藏的是在它前面的对象",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBack": "Send to Back",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBackDescription": "发送所选的对象的所有其他对象背后。",
  "OfficeStringId.MenuCmd_Hyperlink": "超链接",
  "OfficeStringId.MenuCmd_HyperlinkDescription": "创建一个链接到一个网页,一个图片,一个电子邮件地址,或程序。",
  "OfficeStringId.MenuCmd_IncreaseFontSize": "增大字体",
  "OfficeStringId.MenuCmd_IncreaseFontSizeDescription": "增加字体大小。",
  "OfficeStringId.MenuCmd_InsertComment": "新增注释",
  "OfficeStringId.MenuCmd_InsertCommentDescription": "给选中部分添加一个评论。",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPicture": "图片",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPictureDescription": "从一个文件中插入一个图片。",
  "OfficeStringId.MenuCmd_InsertHyperlink": "超链接...",
  "OfficeStringId.MenuCmd_InsertHyperlinkDescription": "新增一个新的超链接。",
  "OfficeStringId.MenuCmd_InsertSymbol": "符号",
  "OfficeStringId.MenuCmd_InsertSymbolDescription": "Insert symbols that are not on your keyboard, such as copyright symbols, trademark symbols, paragraph marks and Unicode characters.",
  "OfficeStringId.MenuCmd_LoadDocument": "打开",
  "OfficeStringId.MenuCmd_LoadDocumentDescription": "打开一个文档",
  "OfficeStringId.MenuCmd_NewEmptyDocument": "新建",
  "OfficeStringId.MenuCmd_NewEmptyDocumentDescription": "创建一个新的文档。",
  "OfficeStringId.MenuCmd_OpenHyperlink": "打开超链接",
  "OfficeStringId.MenuCmd_OpenHyperlinkDescription": "打开超链接",
  "OfficeStringId.MenuCmd_PageMarginsModerate": "适度的",
  "OfficeStringId.MenuCmd_PageMarginsModerateDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNarrow": "变窄顶部:\t{1,10}\t底部:\t{3,10}左边:\t{0,10}\t右边:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNarrowDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNormal": "标准的顶部:\t{1,10}\t底部:\t{3,10}左边:\t{0,10}\t右边:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNormalDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsWide": "宽度顶部:\t{1,10}\t底部:\t{3,10}左边:\t{0,10}\t右边:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsWideDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroup": "方向",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroupDescription": "切换页面之间的肖像和风景布局。",
  "OfficeStringId.MenuCmd_PageOrientationLandscape": "视图",
  "OfficeStringId.MenuCmd_PageOrientationLandscapeDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationPortrait": "纵向",
  "OfficeStringId.MenuCmd_PageOrientationPortraitDescription": " ",
  "OfficeStringId.MenuCmd_Paste": "粘贴",
  "OfficeStringId.MenuCmd_PasteDescription": "粘贴剪贴板的内容。",
  "OfficeStringId.MenuCmd_Print": "&打印",
  "OfficeStringId.MenuCmd_PrintDescription": "选择一个打印机、份数和其他印前打印选项。",
  "OfficeStringId.MenuCmd_PrintPreview": "打印预览",
  "OfficeStringId.MenuCmd_PrintPreviewDescription": "打印前预览页面。",
  "OfficeStringId.MenuCmd_QuickPrint": "&快速打印",
  "OfficeStringId.MenuCmd_QuickPrintDescription": "直接发送文件到默认的打印机不需要做任何的改变。",
  "OfficeStringId.MenuCmd_Redo": "恢复上一次操作",
  "OfficeStringId.MenuCmd_RedoDescription": "恢复上一次操作",
  "OfficeStringId.MenuCmd_RemoveHyperlink": "删除超链接",
  "OfficeStringId.MenuCmd_RemoveHyperlinkDescription": "删除超链接",
  "OfficeStringId.MenuCmd_RemoveHyperlinks": "删除超链接",
  "OfficeStringId.MenuCmd_RemoveHyperlinksDescription": "删除超链接",
  "OfficeStringId.MenuCmd_SaveDocument": "保存",
  "OfficeStringId.MenuCmd_SaveDocumentAs": "另存为",
  "OfficeStringId.MenuCmd_SaveDocumentAsDescription": "打开另存为对话框，选择一个文件格式，保存文件到一个新的位置。",
  "OfficeStringId.MenuCmd_SaveDocumentDescription": "保存文档。",
  "OfficeStringId.MenuCmd_ShowPasteSpecialForm": "选择性粘贴",
  "OfficeStringId.MenuCmd_ShowPasteSpecialFormDescription": "选择性粘贴",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuHeader": "Customize Status Bar",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoom": "缩放",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoomSlider": "Zoom Slider",
  "OfficeStringId.MenuCmd_StatusBarZoomDescription": "Zoom level. Click to open the Zoom dialog box.",
  "OfficeStringId.MenuCmd_StatusBarZoomSliderDescription": "缩放",
  "OfficeStringId.MenuCmd_ToggleFontBold": "加粗",
  "OfficeStringId.MenuCmd_ToggleFontBoldDescription": "使选中的文本加粗。",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderline": "双下划线",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "双下划线",
  "OfficeStringId.MenuCmd_ToggleFontItalic": "斜体字",
  "OfficeStringId.MenuCmd_ToggleFontItalicDescription": "用斜体字排字选定的文本。",
  "OfficeStringId.MenuCmd_ToggleFontStrikeout": "删除线",
  "OfficeStringId.MenuCmd_ToggleFontStrikeoutDescription": "通过所选择的文本的中间画一条线。",
  "OfficeStringId.MenuCmd_ToggleFontUnderline": "下划线",
  "OfficeStringId.MenuCmd_ToggleFontUnderlineDescription": "强调选择的文本。",
  "OfficeStringId.MenuCmd_Undo": "撤销",
  "OfficeStringId.MenuCmd_UndoDescription": "撤销",
  "OfficeStringId.MenuCmd_Zoom100Percent": "100%",
  "OfficeStringId.MenuCmd_Zoom100PercentDescription": "缩放文档到100%的正常大小。",
  "OfficeStringId.MenuCmd_ZoomIn": "放大",
  "OfficeStringId.MenuCmd_ZoomInDescription": "放大",
  "OfficeStringId.MenuCmd_ZoomOut": "缩小",
  "OfficeStringId.MenuCmd_ZoomOutDescription": "缩小",
  "OfficeStringId.Msg_InternalError": "发生了一个内部错误",
  "OfficeStringId.Msg_InvalidBeginInit": "错误:BeginInit调用在BeginUpdate内部",
  "OfficeStringId.Msg_InvalidBeginUpdate": "错误:调用BeginUpdate在BeginInit内部",
  "OfficeStringId.Msg_InvalidCopyFromDocumentModel": "错误：源和目标文件模型是不同的",
  "OfficeStringId.Msg_InvalidEndInit": "错误:调用EndUpdate或CancelUpate时没有调用BeginUpdate或者在BeginInit内部。",
  "OfficeStringId.Msg_InvalidEndUpdate": "错误:调用EndUpdate或CancelUpate时没有BeginUpdate或者在BeginInit内部。",
  "OfficeStringId.Msg_InvalidFontSize": "这个数字必须在{ 0 }和{ 1 }之间。",
  "OfficeStringId.Msg_InvalidNumber": "这不是一个有效的号码。",
  "OfficeStringId.Msg_InvalidNumberConverterValue": "Value must be between {0} and {1}.",
  "OfficeStringId.Msg_InvalidRemoveDataSource": "A data source cannot be deleted during the mail-merge process.",
  "OfficeStringId.Msg_IsNotValid": "' { 0 } '不是作为“{ 1 }”的一个有效的值",
  "OfficeStringId.Msg_Loading": "加载...",
  "OfficeStringId.Msg_MagicNumberNotFound": "你试图打开的文件与指定的文件扩展名格式不同。",
  "OfficeStringId.Msg_UnsupportedFormatOrCorruptedFile": "Unsupported format or corrupted file.",
  "OfficeStringId.UnitAbbreviation_Centimeter": "厘米",
  "OfficeStringId.UnitAbbreviation_Inch": "\"",
  "OfficeStringId.UnitAbbreviation_Millimeter": "毫米",
  "OfficeStringId.UnitAbbreviation_Percent": "%",
  "OfficeStringId.UnitAbbreviation_Pica": "PC",
  "OfficeStringId.UnitAbbreviation_Point": "pt",
  "XtraRichEditStringId.BorderLineStyleNone": "无",
  "XtraRichEditStringId.Caption_AlignmentCenter": "居中",
  "XtraRichEditStringId.Caption_AlignmentDistribute": "Distributed",
  "XtraRichEditStringId.Caption_AlignmentJustify": "两端对齐",
  "XtraRichEditStringId.Caption_AlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_AlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_AlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_AlignmentLeft": "左对齐",
  "XtraRichEditStringId.Caption_AlignmentRight": "右对齐",
  "XtraRichEditStringId.Caption_AlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_AllMarkup": "All Markup",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_Nothing": "Nothing",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_SpaceCharacter": "Space",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_TabCharacter": "Tab character",
  "XtraRichEditStringId.Caption_Bytes": "字节",
  "XtraRichEditStringId.Caption_CaptionPrefixEquation": "方程",
  "XtraRichEditStringId.Caption_CaptionPrefixFigure": "图",
  "XtraRichEditStringId.Caption_CaptionPrefixTable": "表",
  "XtraRichEditStringId.Caption_CharacterPositionLowered": "Lowered",
  "XtraRichEditStringId.Caption_CharacterPositionNormal": "正常",
  "XtraRichEditStringId.Caption_CharacterPositionRaised": "Raised",
  "XtraRichEditStringId.Caption_CharacterSpacingCondensed": "Condensed",
  "XtraRichEditStringId.Caption_CharacterSpacingExpanded": "Expanded",
  "XtraRichEditStringId.Caption_CharacterSpacingNormal": "正常",
  "XtraRichEditStringId.Caption_ClipboardSubItem": "剪贴板",
  "XtraRichEditStringId.Caption_ColorAutomatic": "自动的",
  "XtraRichEditStringId.Caption_ColumnBreak": "Column Break",
  "XtraRichEditStringId.Caption_Comments": "评论",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomLeftCell": "左下单元格",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomRightCell": "右下单元格",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenColumnBanding": "偶带状列",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenRowBanding": "偶带状列",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstColumn": "第一列",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstRow": "排头",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastColumn": "最后一列",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastRow": "总行数",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddColumnBanding": "奇带状列",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddRowBanding": "奇带状行",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopLeftCell": "左上单元格",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopRightCell": "右上单元格",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_WholeTable": "整个表",
  "XtraRichEditStringId.Caption_CurrentDocumentHyperlinkTooltip": "当前文档",
  "XtraRichEditStringId.Caption_CurrentParagraphText": "示例文本",
  "XtraRichEditStringId.Caption_CustomPropertyCheckedBy": "Checked by",
  "XtraRichEditStringId.Caption_CustomPropertyClient": "Client",
  "XtraRichEditStringId.Caption_CustomPropertyDateCompleted": "Date completed",
  "XtraRichEditStringId.Caption_CustomPropertyDepartment": "Department",
  "XtraRichEditStringId.Caption_CustomPropertyDestination": "Destination",
  "XtraRichEditStringId.Caption_CustomPropertyDisposition": "Disposition",
  "XtraRichEditStringId.Caption_CustomPropertyDivision": "Division",
  "XtraRichEditStringId.Caption_CustomPropertyDocumentNumber": "Document number",
  "XtraRichEditStringId.Caption_CustomPropertyEditor": "Editor",
  "XtraRichEditStringId.Caption_CustomPropertyForwardTo": "Forward to",
  "XtraRichEditStringId.Caption_CustomPropertyGroup": "分组",
  "XtraRichEditStringId.Caption_CustomPropertyLanguage": "语言",
  "XtraRichEditStringId.Caption_CustomPropertyMailstop": "Mailstop",
  "XtraRichEditStringId.Caption_CustomPropertyMatter": "Matter",
  "XtraRichEditStringId.Caption_CustomPropertyNo": "否",
  "XtraRichEditStringId.Caption_CustomPropertyOffice": "办公室",
  "XtraRichEditStringId.Caption_CustomPropertyOwner": "Owner",
  "XtraRichEditStringId.Caption_CustomPropertyProject": "Project",
  "XtraRichEditStringId.Caption_CustomPropertyPublisher": "Publisher",
  "XtraRichEditStringId.Caption_CustomPropertyPurpose": "Purpose",
  "XtraRichEditStringId.Caption_CustomPropertyReceivedFrom": "Received from",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedBy": "Recorded by",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedDate": "Recorded date",
  "XtraRichEditStringId.Caption_CustomPropertyReference": "Reference",
  "XtraRichEditStringId.Caption_CustomPropertySource": "Source",
  "XtraRichEditStringId.Caption_CustomPropertyStatus": "状态",
  "XtraRichEditStringId.Caption_CustomPropertyTelephoneNumber": "Telephone number",
  "XtraRichEditStringId.Caption_CustomPropertyTypeBoolean": "Yes or no",
  "XtraRichEditStringId.Caption_CustomPropertyTypeDateTime": "日期",
  "XtraRichEditStringId.Caption_CustomPropertyTypeNumber": "数字",
  "XtraRichEditStringId.Caption_CustomPropertyTypeText": "文本",
  "XtraRichEditStringId.Caption_CustomPropertyTypist": "Typist",
  "XtraRichEditStringId.Caption_CustomPropertyValue": "值",
  "XtraRichEditStringId.Caption_CustomPropertyYes": "是",
  "XtraRichEditStringId.Caption_EmptyParentStyle": "(基本属性)",
  "XtraRichEditStringId.Caption_EvenPageFooter": "偶数页页脚",
  "XtraRichEditStringId.Caption_EvenPageHeader": "偶数页页眉",
  "XtraRichEditStringId.Caption_FirstLineIndentHanging": "悬挂缩进",
  "XtraRichEditStringId.Caption_FirstLineIndentIndented": "首行缩进",
  "XtraRichEditStringId.Caption_FirstLineIndentNone": "(无)",
  "XtraRichEditStringId.Caption_FirstPageFooter": "首页页脚",
  "XtraRichEditStringId.Caption_FirstPageHeader": "首页页眉",
  "XtraRichEditStringId.Caption_FollowingParagraphText": "下段",
  "XtraRichEditStringId.Caption_GroupDocumentChanges": "Changes",
  "XtraRichEditStringId.Caption_GroupTableAlignment": "文本对齐",
  "XtraRichEditStringId.Caption_GroupTableCellSize": "单元格大小",
  "XtraRichEditStringId.Caption_GroupTableDrawBorders": "边框&着色",
  "XtraRichEditStringId.Caption_GroupTableMerge": "合并",
  "XtraRichEditStringId.Caption_GroupTableRowsAndColumns": "行&列",
  "XtraRichEditStringId.Caption_GroupTableStyleOptions": "表格样式选项",
  "XtraRichEditStringId.Caption_GroupTableStyles": "表格样式",
  "XtraRichEditStringId.Caption_GroupTableTable": "表格",
  "XtraRichEditStringId.Caption_Heading": "标题",
  "XtraRichEditStringId.Caption_HeightTypeExact": "全部",
  "XtraRichEditStringId.Caption_HeightTypeMinimum": "至少",
  "XtraRichEditStringId.Caption_LineSpacingAtLeast": "最小值",
  "XtraRichEditStringId.Caption_LineSpacingDouble": "两倍行距",
  "XtraRichEditStringId.Caption_LineSpacingExactly": "固定值",
  "XtraRichEditStringId.Caption_LineSpacingMultiple": "多倍行距",
  "XtraRichEditStringId.Caption_LineSpacingSesquialteral": "1.5倍行距",
  "XtraRichEditStringId.Caption_LineSpacingSingle": "单倍行距",
  "XtraRichEditStringId.Caption_MainDocumentComments": "Main document comments",
  "XtraRichEditStringId.Caption_NoColor": "没有颜色",
  "XtraRichEditStringId.Caption_NoMarkup": "No Markup",
  "XtraRichEditStringId.Caption_NumberingListBoxNone": "无",
  "XtraRichEditStringId.Caption_OddPageFooter": "奇数页页脚",
  "XtraRichEditStringId.Caption_OddPageHeader": "奇数页页眉",
  "XtraRichEditStringId.Caption_OriginalMarkup": "Original",
  "XtraRichEditStringId.Caption_OutlineLevel1": "第一级",
  "XtraRichEditStringId.Caption_OutlineLevel2": "第二级",
  "XtraRichEditStringId.Caption_OutlineLevel3": "第三级",
  "XtraRichEditStringId.Caption_OutlineLevel4": "第四级",
  "XtraRichEditStringId.Caption_OutlineLevel5": "第五级",
  "XtraRichEditStringId.Caption_OutlineLevel6": "第六级",
  "XtraRichEditStringId.Caption_OutlineLevel7": "第七级",
  "XtraRichEditStringId.Caption_OutlineLevel8": "第八级",
  "XtraRichEditStringId.Caption_OutlineLevel9": "第九级",
  "XtraRichEditStringId.Caption_OutlineLevelBody": "正文",
  "XtraRichEditStringId.Caption_PageBreak": "分页符",
  "XtraRichEditStringId.Caption_PageCategoryTableTools": "表格工具",
  "XtraRichEditStringId.Caption_PageFooter": "页脚",
  "XtraRichEditStringId.Caption_PageHeader": "页眉",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionLeftToRight": "Left-to-right",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionRightToLeft": "Right-to-left",
  "XtraRichEditStringId.Caption_PageSetupSectionStartColumn": "新列",
  "XtraRichEditStringId.Caption_PageSetupSectionStartContinuous": "连续",
  "XtraRichEditStringId.Caption_PageSetupSectionStartEvenPage": "偶数页",
  "XtraRichEditStringId.Caption_PageSetupSectionStartNextPage": "新页",
  "XtraRichEditStringId.Caption_PageSetupSectionStartOddPage": "旧页",
  "XtraRichEditStringId.Caption_PageTableDesign": "设计",
  "XtraRichEditStringId.Caption_PageTableLayout": "布局",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Center": "中心",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Distribute": "Distributed",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Justify": "调整版面",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Left": "左",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Right": "右",
  "XtraRichEditStringId.Caption_ParagraphAlignment_ThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Hanging": "悬挂",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Indented": "齿痕",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_None": "无",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_AtLeast": "至少",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Double": "双倍",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Exactly": "全部",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Multiple": "多",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Sesquialteral": "比例",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Single": "单独",
  "XtraRichEditStringId.Caption_PreviousParagraphText": "上段",
  "XtraRichEditStringId.Caption_Readonly": "No changes (Read only)",
  "XtraRichEditStringId.Caption_SameAsPrevious": "与上一页相同",
  "XtraRichEditStringId.Caption_SectionBreak": "Section Break",
  "XtraRichEditStringId.Caption_SectionBreakTypeColumn": "列",
  "XtraRichEditStringId.Caption_SectionBreakTypeContinuous": "连续",
  "XtraRichEditStringId.Caption_SectionBreakTypeEvenPage": "Even Page",
  "XtraRichEditStringId.Caption_SectionBreakTypeNextPage": "下一页",
  "XtraRichEditStringId.Caption_SectionBreakTypeOddPage": "Odd Page",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyThisPointForward": "前一章节",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToCurrentSection": "当前章节",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToSelectedSections": "选定章节",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToWholeDocument": "整个文档",
  "XtraRichEditStringId.Caption_SimpleMarkup": "Simple Markup",
  "XtraRichEditStringId.Caption_TrackedChanges": "Tracked Changes",
  "XtraRichEditStringId.ClearFormatting": "清除格式",
  "XtraRichEditStringId.ColorAuto": "自动",
  "XtraRichEditStringId.ColumnsSetupForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.Comment": "评论 [{0} {1}]：",
  "XtraRichEditStringId.CommentToolTipHeader": "by {0}",
  "XtraRichEditStringId.CommentToolTipHeaderWithDate": "{0} from {1}",
  "XtraRichEditStringId.DefaultDocumentName": "文档",
  "XtraRichEditStringId.DefaultStyleName_annotationreference": "注释参考",
  "XtraRichEditStringId.DefaultStyleName_annotationsubject": "注释主题",
  "XtraRichEditStringId.DefaultStyleName_annotationtext": "注释",
  "XtraRichEditStringId.DefaultStyleName_ArticleSection": "文章/节",
  "XtraRichEditStringId.DefaultStyleName_BalloonText": "大字体",
  "XtraRichEditStringId.DefaultStyleName_BlockText": "文本块",
  "XtraRichEditStringId.DefaultStyleName_BodyText": "正文",
  "XtraRichEditStringId.DefaultStyleName_BodyText2": "正文2",
  "XtraRichEditStringId.DefaultStyleName_BodyText3": "正文3",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent": "正文首行缩进",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent2": "正文首行缩进2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent": "Body Text Indent",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent2": "正文缩进2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent3": "正文缩进3",
  "XtraRichEditStringId.DefaultStyleName_BookTitle": "Book Title",
  "XtraRichEditStringId.DefaultStyleName_caption": "标题",
  "XtraRichEditStringId.DefaultStyleName_Closing": "关闭",
  "XtraRichEditStringId.DefaultStyleName_CommentReference": "Comment Reference",
  "XtraRichEditStringId.DefaultStyleName_CommentSubject": "Comment Subject",
  "XtraRichEditStringId.DefaultStyleName_CommentText": "注释文本",
  "XtraRichEditStringId.DefaultStyleName_Date": "日期",
  "XtraRichEditStringId.DefaultStyleName_DefaultParagraphFont": "默认段落字体",
  "XtraRichEditStringId.DefaultStyleName_DocumentMap": "文档结构图",
  "XtraRichEditStringId.DefaultStyleName_EmailSignature": "E-mail签名",
  "XtraRichEditStringId.DefaultStyleName_Emphasis": "重点",
  "XtraRichEditStringId.DefaultStyleName_endnotereference": "尾注参考",
  "XtraRichEditStringId.DefaultStyleName_endnotetext": "尾注",
  "XtraRichEditStringId.DefaultStyleName_envelopeaddress": "信封地址",
  "XtraRichEditStringId.DefaultStyleName_envelopereturn": ":return发件人",
  "XtraRichEditStringId.DefaultStyleName_FollowedHyperlink": "FollowedHyperlink",
  "XtraRichEditStringId.DefaultStyleName_footer": "页脚",
  "XtraRichEditStringId.DefaultStyleName_footnotereference": "脚注参考",
  "XtraRichEditStringId.DefaultStyleName_footnotetext": "脚注",
  "XtraRichEditStringId.DefaultStyleName_header": "页眉",
  "XtraRichEditStringId.DefaultStyleName_heading1": "标题1",
  "XtraRichEditStringId.DefaultStyleName_heading2": "标题2",
  "XtraRichEditStringId.DefaultStyleName_heading3": "标题3",
  "XtraRichEditStringId.DefaultStyleName_heading4": "标题4",
  "XtraRichEditStringId.DefaultStyleName_heading5": "标题5",
  "XtraRichEditStringId.DefaultStyleName_heading6": "标题6",
  "XtraRichEditStringId.DefaultStyleName_heading7": "标题7",
  "XtraRichEditStringId.DefaultStyleName_heading8": "标题8",
  "XtraRichEditStringId.DefaultStyleName_heading9": "标题9",
  "XtraRichEditStringId.DefaultStyleName_HTMLAcronym": "HTML缩写",
  "XtraRichEditStringId.DefaultStyleName_HTMLAddress": "HTML地址",
  "XtraRichEditStringId.DefaultStyleName_HTMLBottomofForm": "HTML表单尾部",
  "XtraRichEditStringId.DefaultStyleName_HTMLCite": "HTML引用",
  "XtraRichEditStringId.DefaultStyleName_HTMLCode": "HTML代码",
  "XtraRichEditStringId.DefaultStyleName_HTMLDefinition": "HTML定义",
  "XtraRichEditStringId.DefaultStyleName_HTMLKeyboard": "HTML键盘",
  "XtraRichEditStringId.DefaultStyleName_HTMLPreformatted": "HTML预格式化",
  "XtraRichEditStringId.DefaultStyleName_HTMLSample": "HTML示例",
  "XtraRichEditStringId.DefaultStyleName_HTMLTopofForm": "HTML表单头部",
  "XtraRichEditStringId.DefaultStyleName_HTMLTypewriter": "HTML打字机",
  "XtraRichEditStringId.DefaultStyleName_HTMLVariable": "HTML变量",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkFollowed": "超链接",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkStrongEmphasis": "着重强调超链接",
  "XtraRichEditStringId.DefaultStyleName_index1": "索引1",
  "XtraRichEditStringId.DefaultStyleName_index2": "索引2",
  "XtraRichEditStringId.DefaultStyleName_index3": "索引3",
  "XtraRichEditStringId.DefaultStyleName_index4": "索引4",
  "XtraRichEditStringId.DefaultStyleName_index5": "索引5",
  "XtraRichEditStringId.DefaultStyleName_index6": "索引6",
  "XtraRichEditStringId.DefaultStyleName_index7": "索引7",
  "XtraRichEditStringId.DefaultStyleName_index8": "索引8",
  "XtraRichEditStringId.DefaultStyleName_index9": "索引9",
  "XtraRichEditStringId.DefaultStyleName_indexheading": "标题索引",
  "XtraRichEditStringId.DefaultStyleName_IntenseEmphasis": "Intense Emphasis",
  "XtraRichEditStringId.DefaultStyleName_IntenseQuote": "Intense Quote",
  "XtraRichEditStringId.DefaultStyleName_linenumber": "行数",
  "XtraRichEditStringId.DefaultStyleName_List": "列表",
  "XtraRichEditStringId.DefaultStyleName_List2": "列表2",
  "XtraRichEditStringId.DefaultStyleName_List3": "列表3",
  "XtraRichEditStringId.DefaultStyleName_List4": "列表4",
  "XtraRichEditStringId.DefaultStyleName_List5": "列表5",
  "XtraRichEditStringId.DefaultStyleName_ListBullet": "列表项目符号",
  "XtraRichEditStringId.DefaultStyleName_ListBullet2": "列表项目符号2",
  "XtraRichEditStringId.DefaultStyleName_ListBullet3": "列表项目符号3",
  "XtraRichEditStringId.DefaultStyleName_ListBullet4": "列表项目符号4",
  "XtraRichEditStringId.DefaultStyleName_ListBullet5": "列表项目符号5",
  "XtraRichEditStringId.DefaultStyleName_ListContinue": "延续列表",
  "XtraRichEditStringId.DefaultStyleName_ListContinue2": "延续列表2",
  "XtraRichEditStringId.DefaultStyleName_ListContinue3": "延续列表3",
  "XtraRichEditStringId.DefaultStyleName_ListContinue4": "延续列表4",
  "XtraRichEditStringId.DefaultStyleName_ListContinue5": "延续列表5",
  "XtraRichEditStringId.DefaultStyleName_ListNumber": "列表编号",
  "XtraRichEditStringId.DefaultStyleName_ListNumber2": "列表编号2",
  "XtraRichEditStringId.DefaultStyleName_ListNumber3": "列表编号3",
  "XtraRichEditStringId.DefaultStyleName_ListNumber4": "列表编号4",
  "XtraRichEditStringId.DefaultStyleName_ListNumber5": "列表编号5",
  "XtraRichEditStringId.DefaultStyleName_ListParagraph": "List Paragraph",
  "XtraRichEditStringId.DefaultStyleName_MacroText": "宏文本",
  "XtraRichEditStringId.DefaultStyleName_macrotoaheading": "标题内加入宏",
  "XtraRichEditStringId.DefaultStyleName_MessageHeader": "消息头",
  "XtraRichEditStringId.DefaultStyleName_NoList": "无列表",
  "XtraRichEditStringId.DefaultStyleName_Normal": "标准类型",
  "XtraRichEditStringId.DefaultStyleName_NormalIndent": "缩进的标准",
  "XtraRichEditStringId.DefaultStyleName_NormalTable": "表格标准",
  "XtraRichEditStringId.DefaultStyleName_NormalWeb": "标准(Web)",
  "XtraRichEditStringId.DefaultStyleName_NoSpacing": "No Spacing",
  "XtraRichEditStringId.DefaultStyleName_NoteHeading": "标题说明",
  "XtraRichEditStringId.DefaultStyleName_OutlineList1": "大纲列表1",
  "XtraRichEditStringId.DefaultStyleName_OutlineList2": "大纲列表2",
  "XtraRichEditStringId.DefaultStyleName_OutlineList3": "大纲列表3",
  "XtraRichEditStringId.DefaultStyleName_pagenumber": "页数",
  "XtraRichEditStringId.DefaultStyleName_PlainText": "纯文本",
  "XtraRichEditStringId.DefaultStyleName_Quote": "Quote",
  "XtraRichEditStringId.DefaultStyleName_Salutation": "称谓",
  "XtraRichEditStringId.DefaultStyleName_Signature": "签名",
  "XtraRichEditStringId.DefaultStyleName_Strong": "Strong",
  "XtraRichEditStringId.DefaultStyleName_Subtitle": "副标题",
  "XtraRichEditStringId.DefaultStyleName_SubtleEmphasis": "Subtle Emphasis",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects1": "表的3D效果1",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects2": "表的3D效果2",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects3": "表的3D效果3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic1": "经典表格1",
  "XtraRichEditStringId.DefaultStyleName_TableClassic2": "经典表格2",
  "XtraRichEditStringId.DefaultStyleName_TableClassic3": "经典表格3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic4": "经典表格4",
  "XtraRichEditStringId.DefaultStyleName_TableColorful1": "表的颜色1",
  "XtraRichEditStringId.DefaultStyleName_TableColorful2": "表的颜色2",
  "XtraRichEditStringId.DefaultStyleName_TableColorful3": "表的颜色3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns1": "表格中的列1",
  "XtraRichEditStringId.DefaultStyleName_TableColumns2": "表格中的列2",
  "XtraRichEditStringId.DefaultStyleName_TableColumns3": "表格中的列3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns4": "表格中的列4",
  "XtraRichEditStringId.DefaultStyleName_TableColumns5": "表格中的列5",
  "XtraRichEditStringId.DefaultStyleName_TableContemporary": "同一期表",
  "XtraRichEditStringId.DefaultStyleName_TableElegant": "美观的表",
  "XtraRichEditStringId.DefaultStyleName_TableGrid": "网格表",
  "XtraRichEditStringId.DefaultStyleName_TableGrid1": "网格表1",
  "XtraRichEditStringId.DefaultStyleName_TableGrid2": "网格表2",
  "XtraRichEditStringId.DefaultStyleName_TableGrid3": "网格表3",
  "XtraRichEditStringId.DefaultStyleName_TableGrid4": "网格表4",
  "XtraRichEditStringId.DefaultStyleName_TableGrid5": "网格表5",
  "XtraRichEditStringId.DefaultStyleName_TableGrid6": "网格表6",
  "XtraRichEditStringId.DefaultStyleName_TableGrid7": "网格表7",
  "XtraRichEditStringId.DefaultStyleName_TableGrid8": "网格表8",
  "XtraRichEditStringId.DefaultStyleName_TableList1": "列表型表格1",
  "XtraRichEditStringId.DefaultStyleName_TableList2": "列表型表格2",
  "XtraRichEditStringId.DefaultStyleName_TableList3": "列表型表格3",
  "XtraRichEditStringId.DefaultStyleName_TableList4": "列表型表格4",
  "XtraRichEditStringId.DefaultStyleName_TableList5": "列表型表格5",
  "XtraRichEditStringId.DefaultStyleName_TableList6": "列表型表格6",
  "XtraRichEditStringId.DefaultStyleName_TableList7": "列表型表格7",
  "XtraRichEditStringId.DefaultStyleName_TableList8": "列表型表格8",
  "XtraRichEditStringId.DefaultStyleName_TableNormal": "普通表格",
  "XtraRichEditStringId.DefaultStyleName_tableofauthorities": "表的权限",
  "XtraRichEditStringId.DefaultStyleName_tableoffigures": "数字表",
  "XtraRichEditStringId.DefaultStyleName_TableProfessional": "专业性表",
  "XtraRichEditStringId.DefaultStyleName_TableSimple1": "示例表1",
  "XtraRichEditStringId.DefaultStyleName_TableSimple2": "示例表2",
  "XtraRichEditStringId.DefaultStyleName_TableSimple3": "示例表3",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle1": "精细表1",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle2": "精细表2",
  "XtraRichEditStringId.DefaultStyleName_TableTheme": "表主题",
  "XtraRichEditStringId.DefaultStyleName_TableWeb1": "Web型表格1",
  "XtraRichEditStringId.DefaultStyleName_TableWeb2": "Web型表格2",
  "XtraRichEditStringId.DefaultStyleName_TableWeb3": "Web型表格3",
  "XtraRichEditStringId.DefaultStyleName_Title": "标题",
  "XtraRichEditStringId.DefaultStyleName_toaheading": "TOA 标题",
  "XtraRichEditStringId.DefaultStyleName_toc1": "toc1",
  "XtraRichEditStringId.DefaultStyleName_toc2": "toc2",
  "XtraRichEditStringId.DefaultStyleName_toc3": "toc3",
  "XtraRichEditStringId.DefaultStyleName_toc4": "toc4",
  "XtraRichEditStringId.DefaultStyleName_toc5": "toc5",
  "XtraRichEditStringId.DefaultStyleName_toc6": "toc6",
  "XtraRichEditStringId.DefaultStyleName_toc7": "toc7",
  "XtraRichEditStringId.DefaultStyleName_toc8": "toc8",
  "XtraRichEditStringId.DefaultStyleName_toc9": "toc9",
  "XtraRichEditStringId.DialogCaption_InsertSymbol": "符号",
  "XtraRichEditStringId.FieldLastName": "姓",
  "XtraRichEditStringId.FieldMapAddress1": "地址1",
  "XtraRichEditStringId.FieldMapAddress2": "地址2",
  "XtraRichEditStringId.FieldMapAddress3": "地址3",
  "XtraRichEditStringId.FieldMapBusinessFax": "商务传真",
  "XtraRichEditStringId.FieldMapBusinessPhone": "办公室电话",
  "XtraRichEditStringId.FieldMapCity": "城市/县",
  "XtraRichEditStringId.FieldMapCompany": "公司",
  "XtraRichEditStringId.FieldMapCountry": "国家或地区",
  "XtraRichEditStringId.FieldMapDepartment": "部门",
  "XtraRichEditStringId.FieldMapEMailAddress": "E-mail地址",
  "XtraRichEditStringId.FieldMapFirstName": "名字",
  "XtraRichEditStringId.FieldMapHomeFax": "住所传真",
  "XtraRichEditStringId.FieldMapHomePhone": "住宅电话",
  "XtraRichEditStringId.FieldMapJobTitle": "职位",
  "XtraRichEditStringId.FieldMapMiddleName": "名字的中间一个字",
  "XtraRichEditStringId.FieldMapNickName": "称谓",
  "XtraRichEditStringId.FieldMapPartnerFirstName": "配偶/伴侣名字",
  "XtraRichEditStringId.FieldMapPartnerLastName": "配偶姓氏",
  "XtraRichEditStringId.FieldMapPartnerMiddleName": "配偶/伴侣名字的中间一个字",
  "XtraRichEditStringId.FieldMapPartnerNickName": "配偶/伴侣昵称",
  "XtraRichEditStringId.FieldMapPartnerTitle": "配偶/伴侣尊称",
  "XtraRichEditStringId.FieldMapPhoneticGuideFirstName": "拼音指南的名。",
  "XtraRichEditStringId.FieldMapPhoneticGuideLastName": "拼音指南的姓氏",
  "XtraRichEditStringId.FieldMapPostalCode": "邮政编码",
  "XtraRichEditStringId.FieldMapState": "省/市/自治区",
  "XtraRichEditStringId.FieldMapSuffix": "后缀",
  "XtraRichEditStringId.FieldMapTitle": "尊称",
  "XtraRichEditStringId.FieldMapUniqueId": "唯一标识符",
  "XtraRichEditStringId.FieldMapWebPage": "Web页面",
  "XtraRichEditStringId.FileFilterDescription_AllFiles": "所有文件",
  "XtraRichEditStringId.FileFilterDescription_AllSupportedFiles": "支持的所有文件",
  "XtraRichEditStringId.FileFilterDescription_BitmapFiles": "位图",
  "XtraRichEditStringId.FileFilterDescription_DocFiles": "MicrosoftWord文档",
  "XtraRichEditStringId.FileFilterDescription_EmfFiles": "微软增强型图元文件",
  "XtraRichEditStringId.FileFilterDescription_ePubFiles": "电子出版物",
  "XtraRichEditStringId.FileFilterDescription_GifFiles": "Interchage图形格式",
  "XtraRichEditStringId.FileFilterDescription_HtmlFiles": "超文本标记语言格式",
  "XtraRichEditStringId.FileFilterDescription_JPEGFiles": "JPEG文件交换格式",
  "XtraRichEditStringId.FileFilterDescription_MhtFiles": "Web结构，单一文档",
  "XtraRichEditStringId.FileFilterDescription_OpenDocumentFiles": "OpenDocument文本文档",
  "XtraRichEditStringId.FileFilterDescription_OpenXmlFiles": "Word2007文档",
  "XtraRichEditStringId.FileFilterDescription_PDFFiles": "PDF格式",
  "XtraRichEditStringId.FileFilterDescription_PNGFiles": "PNG",
  "XtraRichEditStringId.FileFilterDescription_RtfFiles": "RTF格式",
  "XtraRichEditStringId.FileFilterDescription_TextFiles": "文本文件",
  "XtraRichEditStringId.FileFilterDescription_TiffFiles": "标记的图片格式",
  "XtraRichEditStringId.FileFilterDescription_WmfFiles": "Windows图元文件",
  "XtraRichEditStringId.FileFilterDescription_WordMLFiles": "XML文档",
  "XtraRichEditStringId.FileFilterDescription_XamlFiles": "Xaml文档",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterInTheSet": "在该集合中的任一字符",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterNotInTheSet": "不在该集合中任一字符",
  "XtraRichEditStringId.FindAndReplaceForm_AnySingleCharacter": "任意单个字符",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfLine": "段落开头",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfWord": "单词开头",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfLine": "段落结尾",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfWord": "单词结尾",
  "XtraRichEditStringId.FindAndReplaceForm_EscapeSpecialCharacter": "忽略特殊字符",
  "XtraRichEditStringId.FindAndReplaceForm_Integer": "整数",
  "XtraRichEditStringId.FindAndReplaceForm_OneOrMore": "一个或更多",
  "XtraRichEditStringId.FindAndReplaceForm_Or": "或",
  "XtraRichEditStringId.FindAndReplaceForm_SpaceOrTab": "空格或Tab",
  "XtraRichEditStringId.FindAndReplaceForm_TagExpression": "标记表达式",
  "XtraRichEditStringId.FindAndReplaceForm_TaggedExpression": "带标记的表达式{0}",
  "XtraRichEditStringId.FindAndReplaceForm_WordCharacter": "单词字符",
  "XtraRichEditStringId.FindAndReplaceForm_ZeroOrMore": "零或更多",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentCenter": "中间",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentLeft": "左边",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentRight": "右边",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeCharacter": "字符",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeColumn": "列",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeInsideMargin": "内部边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeLeftMargin": "左边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeMargin": "边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeOutsideMargin": "外边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypePage": "页面",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeRightMargin": "右边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentBottom": "下",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentCenter": "中间",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentInside": "内部",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentOutside": "外部",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentTop": "上",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeBottomMargin": "下边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeInsideMargin": "内部边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeLine": "行",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeMargin": "边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeOutsideMargin": "外部边距",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypePage": "页面",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeParagraph": "段落",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeTopMargin": "上边距",
  "XtraRichEditStringId.FontStyle_Bold": "加粗",
  "XtraRichEditStringId.FontStyle_BoldItalic": "加粗倾斜",
  "XtraRichEditStringId.FontStyle_Italic": "倾斜",
  "XtraRichEditStringId.FontStyle_Regular": "正常",
  "XtraRichEditStringId.FontStyle_Strikeout": "删除线",
  "XtraRichEditStringId.FontStyle_Underline": "下划线",
  "XtraRichEditStringId.HyperlinkForm_EditHyperlinkTitle": "编辑超链接",
  "XtraRichEditStringId.HyperlinkForm_InsertHyperlinkTitle": "插入超链接",
  "XtraRichEditStringId.HyperlinkForm_SelectedBookmarkNone": "选择书签",
  "XtraRichEditStringId.HyperlinkForm_SelectionInDocument": "从文档中选择",
  "XtraRichEditStringId.InsertTableForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.InsertTableForm_InvalidRowCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.KeyName_Alt": "Alt",
  "XtraRichEditStringId.KeyName_Control": "Ctrl",
  "XtraRichEditStringId.KeyName_Shift": "Shift",
  "XtraRichEditStringId.LinkedCharacterStyleFormatString": "{0}字符",
  "XtraRichEditStringId.LocalizedStyleName_Hyperlink": "超链接",
  "XtraRichEditStringId.LocalizedStyleName_Normal": "普通",
  "XtraRichEditStringId.MenuCmd_Accept": "Accept",
  "XtraRichEditStringId.MenuCmd_AcceptAllChanges": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTracking": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTrackingDescription": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesDescription": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShown": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShownDescription": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevision": "Accept and Move to Next",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevisionDescription": "Keep this change and move one to the next one.",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevision": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevisionDescription": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptDescription": "Click for additional options, such as accepting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContents": "添加文本",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContentsDescription": "添加当前段内容作为一个目录",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraph": "添加间距&段落后",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraphDescription": "添加间距&段落后",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraph": "添加间距&段落前",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraphDescription": "添加间距&段落前",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionary": "将字添加到字典中",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionaryDescription": "将字添加到字典中",
  "XtraRichEditStringId.MenuCmd_AllAuthors": "All Authors",
  "XtraRichEditStringId.MenuCmd_BackSpaceKey": "BackSpace键",
  "XtraRichEditStringId.MenuCmd_BackSpaceKeyDescription": "BackSpace键",
  "XtraRichEditStringId.MenuCmd_Bookmark": "书签...",
  "XtraRichEditStringId.MenuCmd_BookmarkDescription": "书签...",
  "XtraRichEditStringId.MenuCmd_BrowserPrint": "浏览器打印",
  "XtraRichEditStringId.MenuCmd_BrowserPrintDescription": "用浏览器的打印功能打印文档",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreview": "浏览器打印预览",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreviewDescription": "打印之前在浏览器中预览文档",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCase": "将每个单词都大写",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCaseDescription": "将每个单词都大写。",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyle": "变更字符样式",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyleDescription": "变更字符样式",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCount": "列",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCountDescription": "列",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSize": "改变栏位大小",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSizeDescription": "改变栏位大小",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColor": "笔颜色",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColorDescription": "更改笔的颜色",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyle": "线样式",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyleDescription": "更改用于绘制边框的线性",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThickness": "线条粗细",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThicknessDescription": "更改用于绘制边框的线条宽度",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewMode": "Display for Review",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewModeDescription": "Choose how you'd like to see changes in this document.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignment": "位置",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignmentDescription": "页面上选定的对象的位置。自动设置文本环绕对象",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColor": "填充形状",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColorDescription": "用纯色填充形状",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColor": "形状轮廓",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColorDescription": "指定所选形状的轮廓颜色。",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidth": "轮廓形状大小",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidthDescription": "指定所选形状的轮廓的宽度。",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapType": "自动换行",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapTypeDescription": "更改选定对象的文字环绕方式。要配置的对象，选择“文字排列”",
  "XtraRichEditStringId.MenuCmd_ChangeFontColor": "字体颜色",
  "XtraRichEditStringId.MenuCmd_ChangeFontColorDescription": "变更字体颜色",
  "XtraRichEditStringId.MenuCmd_ChangeFontName": "字体",
  "XtraRichEditStringId.MenuCmd_ChangeFontNameDescription": "变更字体",
  "XtraRichEditStringId.MenuCmd_ChangeFontSize": "字体大小",
  "XtraRichEditStringId.MenuCmd_ChangeFontSizeDescription": "变更字体大小",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptions": "Hyphenation",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptionsDescription": "Turn on hyphenation to create more uniform spacing and save space in your document.",
  "XtraRichEditStringId.MenuCmd_ChangeIndent": "变更缩进",
  "XtraRichEditStringId.MenuCmd_ChangeIndentDescription": "变更缩进描述",
  "XtraRichEditStringId.MenuCmd_ChangeLanguage": "语言",
  "XtraRichEditStringId.MenuCmd_ChangeLanguageDescription": "设置用于检查拼写和语法的所选文字的语言。",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWord": "(无拼写建议)",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWordDescription": "(无拼写建议)",
  "XtraRichEditStringId.MenuCmd_ChangeNoProof": "NoProof",
  "XtraRichEditStringId.MenuCmd_ChangeNoProofDescription": "ChangeNoProof",
  "XtraRichEditStringId.MenuCmd_ChangePageColor": "页面颜色",
  "XtraRichEditStringId.MenuCmd_ChangePageColorDescription": "设置页面的背景色",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColor": "底纹",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColorDescription": "更改选定段落的背景",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndent": "增加段落第一行缩进",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndentDescription": "增加段落第一行缩进",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndent": "改变段落左端缩进",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndentDescription": "改变段落左端缩进",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacing": "行间距",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacingDescription": "改变文本的行间距.您也可以在段落前后自定义添加间距.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyle": "变更段落样式",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyleDescription": "变更段落样式",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumbering": "行号",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumberingDescription": "在文件每一行添加编号",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMargins": "页边距",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMarginsDescription": "对整个文档或当前章节选择页边距大小.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientation": "页面方向",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientationDescription": "在纵向与横向布局间转换页面",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKind": "尺寸",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKindDescription": "为当前的部分选择一个纸张尺寸",
  "XtraRichEditStringId.MenuCmd_ChangeStyle": "快速模式",
  "XtraRichEditStringId.MenuCmd_ChangeStyleDescription": "格式的标题，应用，和其他文本均使用此样式集。",
  "XtraRichEditStringId.MenuCmd_ChangeTableBorders": "边框",
  "XtraRichEditStringId.MenuCmd_ChangeTableBordersDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholder": "对齐方式",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholderDescription": "自定义选定的单元格的对齐方式。",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignment": "单元格对齐方式",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignmentDescription": "单元格对齐方式",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShading": "底纹",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShadingDescription": "设置所选单元格的背景色",
  "XtraRichEditStringId.MenuCmd_ChangeTextCase": "更改大小写",
  "XtraRichEditStringId.MenuCmd_ChangeTextCaseDescription": "将选中的所有文本转化成大写，小写或者其它常用的大小写形式",
  "XtraRichEditStringId.MenuCmd_CheckSpelling": "拼写检查",
  "XtraRichEditStringId.MenuCmd_CheckSpellingDescription": "检查文档中拼写的单词",
  "XtraRichEditStringId.MenuCmd_ClearFormatting": "清除格式",
  "XtraRichEditStringId.MenuCmd_ClearFormattingDescription": "清除已选择内容的全部格式，只留文本。",
  "XtraRichEditStringId.MenuCmd_ClearUndo": "清除'撤销'",
  "XtraRichEditStringId.MenuCmd_ClearUndoDescription": "清除'撤销'缓存",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooter": "关闭页眉与页脚",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooterDescription": "关闭页眉与页脚工具.也可以双击文档区域来返回编辑状态.",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBar": "折叠或展开公式栏",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBarDescription": "折叠或展开公式栏 (Ctrl + Shift + U）",
  "XtraRichEditStringId.MenuCmd_Comment": "查看评论",
  "XtraRichEditStringId.MenuCmd_CommentDescription": "Choose whether or not to highlight comments in the document.",
  "XtraRichEditStringId.MenuCmd_CopySelection": "复制",
  "XtraRichEditStringId.MenuCmd_CopySelectionDescription": "复制所选并将其放入剪贴板。",
  "XtraRichEditStringId.MenuCmd_CreateBookmark": "创建书签",
  "XtraRichEditStringId.MenuCmd_CreateBookmarkDescription": "创建书签",
  "XtraRichEditStringId.MenuCmd_CreateField": "创建字段",
  "XtraRichEditStringId.MenuCmd_CreateFieldDescription": "创建字段",
  "XtraRichEditStringId.MenuCmd_CreateHyperlink": "创建超链接",
  "XtraRichEditStringId.MenuCmd_CreateHyperlinkDescription": "创建超链接描述",
  "XtraRichEditStringId.MenuCmd_CutSelection": "剪切",
  "XtraRichEditStringId.MenuCmd_CutSelectionDescription": "剪切文档中的内容并放入剪切板。",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSize": "缩小字体",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSizeDescription": "减小字体大小",
  "XtraRichEditStringId.MenuCmd_DecrementFontSize": "减小字体大小",
  "XtraRichEditStringId.MenuCmd_DecrementFontSizeDescription": "减小字体大小",
  "XtraRichEditStringId.MenuCmd_DecrementIndent": "减少缩进",
  "XtraRichEditStringId.MenuCmd_DecrementIndentDescription": "减少段落缩进值。",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraph": "减少段落计数",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraphDescription": "减少段落计数",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndent": "减少段落左缩进量",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndentDescription": "减少段落右缩进量",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevel": "递减大纲级别",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevelDescription": "递减大纲级别",
  "XtraRichEditStringId.MenuCmd_Delete": "删除",
  "XtraRichEditStringId.MenuCmd_DeleteAllComments": "Delete All Comments",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsDescription": "Delete All Comments.",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShown": "Delete All Comments Shown",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShownDescription": "Delete All Comments Shown.",
  "XtraRichEditStringId.MenuCmd_DeleteBack": "删除并返回",
  "XtraRichEditStringId.MenuCmd_DeleteBackCore": "删除并返回",
  "XtraRichEditStringId.MenuCmd_DeleteBackCoreDescription": "删除返回核心描述",
  "XtraRichEditStringId.MenuCmd_DeleteBackDescription": "删除并返回",
  "XtraRichEditStringId.MenuCmd_DeleteBookmark": "删除书签",
  "XtraRichEditStringId.MenuCmd_DeleteBookmarkDescription": "删除书签",
  "XtraRichEditStringId.MenuCmd_DeleteComment": "删除",
  "XtraRichEditStringId.MenuCmd_DeleteCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteCore": "删除核心字段",
  "XtraRichEditStringId.MenuCmd_DeleteCoreDescription": "删除核心类型",
  "XtraRichEditStringId.MenuCmd_DeleteDescription": "删除",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraph": "删除段落计数",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraphDescription": "删除段落计数",
  "XtraRichEditStringId.MenuCmd_DeleteOneComment": "Delete Comment",
  "XtraRichEditStringId.MenuCmd_DeleteOneCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWord": "删除重复的字",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWordDescription": "删除重复的字",
  "XtraRichEditStringId.MenuCmd_DeleteTable": "删除表格",
  "XtraRichEditStringId.MenuCmd_DeleteTableCells": "删除单元格",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsDescription": "删除单元格",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsMenuItem": "删除单元格...",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumns": "删除列",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumnsDescription": "删除列",
  "XtraRichEditStringId.MenuCmd_DeleteTableDescription": "删除表格",
  "XtraRichEditStringId.MenuCmd_DeleteTableElements": "删除行，列，单元格或者整个表格",
  "XtraRichEditStringId.MenuCmd_DeleteTableElementsDescription": "删除行，列，单元格或者整个表格",
  "XtraRichEditStringId.MenuCmd_DeleteTableRows": "删除行",
  "XtraRichEditStringId.MenuCmd_DeleteTableRowsDescription": "删除行",
  "XtraRichEditStringId.MenuCmd_DeleteTableStyle": "删除表格样式",
  "XtraRichEditStringId.MenuCmd_DeleteWord": "删除文字",
  "XtraRichEditStringId.MenuCmd_DeleteWordBack": "删除文字后返回",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCore": "删除并将光标前移",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCoreDescription": "删除并将光标前移",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackDescription": "删除文字后返回",
  "XtraRichEditStringId.MenuCmd_DeleteWordCore": "删除要点",
  "XtraRichEditStringId.MenuCmd_DeleteWordCoreDescription": "删除字的核心描述",
  "XtraRichEditStringId.MenuCmd_DeleteWordDescription": "删除文字",
  "XtraRichEditStringId.MenuCmd_DeselectAll": "取消选择所有",
  "XtraRichEditStringId.MenuCmd_DeselectAllDescription": "重新设置文档的选择",
  "XtraRichEditStringId.MenuCmd_DraftView": "普通视图",
  "XtraRichEditStringId.MenuCmd_DraftViewDescription": "拉伸视图",
  "XtraRichEditStringId.MenuCmd_EditHyperlink": "编辑超链接...",
  "XtraRichEditStringId.MenuCmd_EditHyperlinkDescription": "编辑超链接...",
  "XtraRichEditStringId.MenuCmd_EditPageFooter": "页脚",
  "XtraRichEditStringId.MenuCmd_EditPageFooterDescription": "编辑文档页脚.页脚内容将显示在打印页面的底端.",
  "XtraRichEditStringId.MenuCmd_EditPageHeader": "页眉",
  "XtraRichEditStringId.MenuCmd_EditPageHeaderDescription": "编辑文档页眉.页眉内容将显示在打印页面的顶端.",
  "XtraRichEditStringId.MenuCmd_EditTOC": "编辑表的内容......",
  "XtraRichEditStringId.MenuCmd_EncryptDocument": "Encrypt with Password",
  "XtraRichEditStringId.MenuCmd_EncryptDocumentDescription": "Password-protect this document.",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontally": "确保补注号水平可见",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontallyDescription": "确保补注号水平可见",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVertically": "确保补注号垂直可见",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVerticallyDescription": "确保补注号垂直可见",
  "XtraRichEditStringId.MenuCmd_EnterKey": "回车",
  "XtraRichEditStringId.MenuCmd_EnterKeyDescription": "回车",
  "XtraRichEditStringId.MenuCmd_Find": "查找",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackward": "查找并选择下一个",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackwardDescription": "查找并向后选择",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForward": "查找并选择前一个",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForwardDescription": "查找并选择前一个",
  "XtraRichEditStringId.MenuCmd_FindDescription": "在文档中查找",
  "XtraRichEditStringId.MenuCmd_FindNext": "查找下一个",
  "XtraRichEditStringId.MenuCmd_FindNextDescription": "向前重复最后一个查找",
  "XtraRichEditStringId.MenuCmd_FindPrev": "查找上一个",
  "XtraRichEditStringId.MenuCmd_FindPrevDescription": "重复最后一次查找并返回。",
  "XtraRichEditStringId.MenuCmd_FirstDataRecord": "第一条记录",
  "XtraRichEditStringId.MenuCmd_FirstDataRecordDescription": "第一条记录",
  "XtraRichEditStringId.MenuCmd_FitHeight": "Fit Height",
  "XtraRichEditStringId.MenuCmd_FitHeightDescription": "Adjusts the document zoom factor to fit the entire page height to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitToPage": "适应页面",
  "XtraRichEditStringId.MenuCmd_FitToPageDescription": "Adjusts the document zoom factor to fit the entire page to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitWidth": "适合宽度",
  "XtraRichEditStringId.MenuCmd_FitWidthDescription": "Adjusts the document zoom factor to fit the entire page width to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForward": "上移一层",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardDescription": "上移一层，使其显示到部分对象前面",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholder": "上移一层",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholderDescription": "上移一层，使其显示到部分对象前面",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfText": "置于文字上方",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFront": "置顶",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFrontDescription": "将对象置顶，显示在所有对象上面",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackward": "下移一层",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardDescription": "将选择对象下移，隐藏在其他对面后面",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholder": "下移一层",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholderDescription": "将选择对象下移，隐藏在其他对面后面",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindText": "置于文字后面",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBack": "置底",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBackDescription": "将对象置底",
  "XtraRichEditStringId.MenuCmd_FontSubscript": "下标",
  "XtraRichEditStringId.MenuCmd_FontSubscriptDescription": "在文本基线下方创建小字符",
  "XtraRichEditStringId.MenuCmd_FontSuperscript": "上标",
  "XtraRichEditStringId.MenuCmd_FontSuperscriptDescription": "在文本上方创建小字符",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooter": "显示下一个",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooterDescription": "导航到下一章节的页眉或页脚",
  "XtraRichEditStringId.MenuCmd_GoToPage": "转到页",
  "XtraRichEditStringId.MenuCmd_GoToPageDescription": "转到页",
  "XtraRichEditStringId.MenuCmd_GoToPageFooter": "转到页脚",
  "XtraRichEditStringId.MenuCmd_GoToPageFooterDescription": "激活该页面的页脚以便于编辑.",
  "XtraRichEditStringId.MenuCmd_GoToPageHeader": "转到页眉",
  "XtraRichEditStringId.MenuCmd_GoToPageHeaderDescription": "激活该页面的页眉以便于编辑.",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooter": "显示上一个",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooterDescription": "导航到上一章节的页眉或页脚",
  "XtraRichEditStringId.MenuCmd_HighlightText": "以不同颜色突出显示文本",
  "XtraRichEditStringId.MenuCmd_HighlightTextDescription": "像文本看上去像被荧光笔标注。",
  "XtraRichEditStringId.MenuCmd_Hyperlink": "超链接...",
  "XtraRichEditStringId.MenuCmd_HyperlinkDescription": "超链接...",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWords": "忽略所有",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWordsDescription": "忽略本文档中所有的拼写错误，不对其进行纠正",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWord": "忽略错字",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWordDescription": "忽略当前遇到的拼写错误，不对其进行纠正",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSize": "增大字号",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSizeDescription": "增加字体大小",
  "XtraRichEditStringId.MenuCmd_IncrementFontSize": "增加字体大小",
  "XtraRichEditStringId.MenuCmd_IncrementFontSizeDescription": "增加字体大小",
  "XtraRichEditStringId.MenuCmd_IncrementIndent": "增加缩进",
  "XtraRichEditStringId.MenuCmd_IncrementIndentDescription": "增加段落的缩进量",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraph": "增加段落计数",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraphDescription": "增加段落计数",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndent": "增加段落左缩进",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndentDescription": "增加段落左缩进描述",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevel": "增量大纲级别",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevelDescription": "增量大纲级别",
  "XtraRichEditStringId.MenuCmd_InsertBreak": "分格符",
  "XtraRichEditStringId.MenuCmd_InsertBreakDescription": "在文档中插入分页符、分节符或者分栏符。",
  "XtraRichEditStringId.MenuCmd_InsertBulletList": "项目符号",
  "XtraRichEditStringId.MenuCmd_InsertBulletListDescription": "开始创建项目符号列表。",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholder": "插入标题",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholderDescription": "为图片添加一个标题",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMark": "插入右双引号",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMarkDescription": "插入右双引号",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMark": "插入右单引号",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMarkDescription": "插入右单引号",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreak": "插入分栏符",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreakDescription": "插入分栏符",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbol": "插入版权符号",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbolDescription": "插入版权符号",
  "XtraRichEditStringId.MenuCmd_InsertEllipsis": "插入省略号",
  "XtraRichEditStringId.MenuCmd_InsertEllipsisDescription": "插入省略号",
  "XtraRichEditStringId.MenuCmd_InsertEmDash": "插入长破折号",
  "XtraRichEditStringId.MenuCmd_InsertEmDashDescription": "插入长破折号",
  "XtraRichEditStringId.MenuCmd_InsertEnDash": "插入E短破折号",
  "XtraRichEditStringId.MenuCmd_InsertEnDashDescription": "插入短破折号",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaption": "方程标题",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaptionDescription": "添加一个方程标题",
  "XtraRichEditStringId.MenuCmd_InsertField": "插入字段",
  "XtraRichEditStringId.MenuCmd_InsertFieldDescription": "插入字段",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaption": "图标题",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaptionDescription": "添加一个图标题",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPicture": "图片",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPictureDescription": "从文件中插入一张图片",
  "XtraRichEditStringId.MenuCmd_InsertHyperlink": "插入超链接",
  "XtraRichEditStringId.MenuCmd_InsertHyperlinkDescription": "插入超链接描述",
  "XtraRichEditStringId.MenuCmd_InsertHyphen": "InsertHyphen",
  "XtraRichEditStringId.MenuCmd_InsertLineBreak": "插入虚线",
  "XtraRichEditStringId.MenuCmd_InsertLineBreakDescription": "插入虚线",
  "XtraRichEditStringId.MenuCmd_InsertMergeField": "插入合并字段",
  "XtraRichEditStringId.MenuCmd_InsertMergeFieldDescription": "插入合并字段描述",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelList": "多级列表",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelListDescription": "开始一个多级列表",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphen": "InsertNonBreakingHyphen",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpace": "插入无分隔符字符",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpaceDescription": "插入无分隔符字符",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMark": "插入左双引号符号",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMarkDescription": "插入左双引号符号",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMark": "插入左单引号",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMarkDescription": "插入左单引号",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak": "分页符",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2": "分页符",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2Description": "Start the next page at the current position.",
  "XtraRichEditStringId.MenuCmd_InsertPageBreakDescription": "从当前位置开始下一页。",
  "XtraRichEditStringId.MenuCmd_InsertPageCountField": "插入总页数",
  "XtraRichEditStringId.MenuCmd_InsertPageCountFieldDescription": "在文档中插入总页数.",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberField": "插入页码",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberFieldDescription": "在文档中插入页码.",
  "XtraRichEditStringId.MenuCmd_InsertParagraph": "插入段落",
  "XtraRichEditStringId.MenuCmd_InsertParagraphDescription": "插入段落。",
  "XtraRichEditStringId.MenuCmd_InsertPicture": "插入图片文件",
  "XtraRichEditStringId.MenuCmd_InsertPictureDescription": "插入图片。",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbol": "插入注册商标符号",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbolDescription": "插入注册商标符号",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuous": "连续",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuousDescription": "插入分节符并在同一页上开始新的章节.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPage": "偶数页",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPageDescription": "插入分节符并在下一偶数页上开始新的章节.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPage": "下一页",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPageDescription": "插入分节符并在下一页上开始新的章节.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPage": "奇数页",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPageDescription": "插入分节符并在下一奇数页上开始新的章节.",
  "XtraRichEditStringId.MenuCmd_InsertSimpleList": "编号",
  "XtraRichEditStringId.MenuCmd_InsertSimpleListDescription": "开始创建编号列表。",
  "XtraRichEditStringId.MenuCmd_InsertSymbol": "插入符号",
  "XtraRichEditStringId.MenuCmd_InsertSymbolDescription": "插入键盘上没有的符号，如：版权，商品标号，段落标记和Unicode字符。",
  "XtraRichEditStringId.MenuCmd_InsertTab": "插入表格",
  "XtraRichEditStringId.MenuCmd_InsertTabDescription": "插入表格",
  "XtraRichEditStringId.MenuCmd_InsertTable": "表格",
  "XtraRichEditStringId.MenuCmd_InsertTableCells": "插入单元格",
  "XtraRichEditStringId.MenuCmd_InsertTableCellsDescription": "插入单元格",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeft": "在左侧插入列",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeftDescription": "直接在所选列的左侧添加新列",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRight": "在右侧插入列",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRightDescription": "直接在所选列的右侧添加新列",
  "XtraRichEditStringId.MenuCmd_InsertTableDescription": "在文档中插入表格.",
  "XtraRichEditStringId.MenuCmd_InsertTableElement": "插入",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContents": "目录表",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContentsDescription": "为文档添加目录",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquations": "方程组表",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquationsDescription": "插入方程组表到文档中",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFigures": "图表目录",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresDescription": "为文档添加图标目录",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholder": "插入数字表",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholderDescription": "为文档添加数字表",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTables": "表",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTablesDescription": "为文档添加表格",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAbove": "在上方插入行",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAboveDescription": "在选中行的上方直接添加新行.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelow": "在下方插入行",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelowDescription": "在选中行的下方直接添加新行.",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaption": "表格标题",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaptionDescription": "添加一个表格标题",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraph": "此段中插入标签",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraphDescription": "此段中插入标签",
  "XtraRichEditStringId.MenuCmd_InsertText": "插入文本",
  "XtraRichEditStringId.MenuCmd_InsertTextBox": "文本框",
  "XtraRichEditStringId.MenuCmd_InsertTextBoxDescription": "文档中插入一个文本框。",
  "XtraRichEditStringId.MenuCmd_InsertTextDescription": "插入文本",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbol": "插入商标符号",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbolDescription": "插入商标符号",
  "XtraRichEditStringId.MenuCmd_Language": "语言",
  "XtraRichEditStringId.MenuCmd_LanguageDescription": "设置用于检查拼写和语法的所选文字的语言。",
  "XtraRichEditStringId.MenuCmd_LastDataRecord": "最后一条记录",
  "XtraRichEditStringId.MenuCmd_LastDataRecordDescription": "最后一条记录",
  "XtraRichEditStringId.MenuCmd_LoadDocument": "打开",
  "XtraRichEditStringId.MenuCmd_LoadDocumentDescription": "打开",
  "XtraRichEditStringId.MenuCmd_LockField": "锁领域",
  "XtraRichEditStringId.MenuCmd_LockFieldDescription": "锁领域",
  "XtraRichEditStringId.MenuCmd_LockTracking": "Lock Tracking",
  "XtraRichEditStringId.MenuCmd_LockTrackingDescription": "Use a password to keep others from turning off Track Changes",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommand": "邮件合并",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommandDescription": "邮件合并",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCase": "小写字母",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCaseDescription": "将选中的所有文本转化成小写字母",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCase": "大写字母",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCaseDescription": "将选中的所有文本转化成大写字母",
  "XtraRichEditStringId.MenuCmd_MergeTableCells": "合并单元格",
  "XtraRichEditStringId.MenuCmd_MergeTableCellsDescription": "将选定的单元格合并为一个单元格",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlink": "修改超链接",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlinkDescription": "修改超链接描述",
  "XtraRichEditStringId.MenuCmd_ModifyTableStyle": "更改表格样式",
  "XtraRichEditStringId.MenuCmd_MoveBackward": "向后移动",
  "XtraRichEditStringId.MenuCmd_MoveBackwardDescription": "向后移动",
  "XtraRichEditStringId.MenuCmd_MoveForward": "向前移动",
  "XtraRichEditStringId.MenuCmd_MoveForwardDescription": "向前移动",
  "XtraRichEditStringId.MenuCmd_MoveLineDown": "下移一行",
  "XtraRichEditStringId.MenuCmd_MoveLineDownDescription": "行下移",
  "XtraRichEditStringId.MenuCmd_MoveLineUp": "行上移",
  "XtraRichEditStringId.MenuCmd_MoveLineUpDescription": "行上移",
  "XtraRichEditStringId.MenuCmd_MoveNextPage": "移动下一页",
  "XtraRichEditStringId.MenuCmd_MoveNextPageDescription": "移动下一页",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraph": "移动下一段落",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraphDescription": "移动下一段落",
  "XtraRichEditStringId.MenuCmd_MoveNextWord": "移动下一个字",
  "XtraRichEditStringId.MenuCmd_MoveNextWordDescription": "移动下一个字",
  "XtraRichEditStringId.MenuCmd_MovePreviousPage": "移动前一页",
  "XtraRichEditStringId.MenuCmd_MovePreviousPageDescription": "移动前一页",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraph": "移动前一段落",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraphDescription": "移动前一段落",
  "XtraRichEditStringId.MenuCmd_MovePreviousWord": "移动前一个字",
  "XtraRichEditStringId.MenuCmd_MovePreviousWordDescription": "移动前一个字",
  "XtraRichEditStringId.MenuCmd_MoveScreenDown": "向下移动屏幕",
  "XtraRichEditStringId.MenuCmd_MoveScreenDownDescription": "向下移动屏幕",
  "XtraRichEditStringId.MenuCmd_MoveScreenUp": "向上移动屏幕",
  "XtraRichEditStringId.MenuCmd_MoveScreenUpDescription": "向上移动屏幕",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocument": "移动到文档开始处",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocumentDescription": "移动到文档开始处",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocument": "移动到文档结束处",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocumentDescription": "移动到文档结束处",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLine": "移动到行尾",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLineDescription": "移动到行尾",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLine": "移动到行开始处",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLineDescription": "移动到行开始处",
  "XtraRichEditStringId.MenuCmd_NewComment": "New Comment",
  "XtraRichEditStringId.MenuCmd_NewCommentDescription": "Add a comment about the selection.",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocument": "新建",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocumentDescription": "新建文档",
  "XtraRichEditStringId.MenuCmd_NewTableStyle": "新增表格样式",
  "XtraRichEditStringId.MenuCmd_NextComment": "下一个",
  "XtraRichEditStringId.MenuCmd_NextCommentDescription": "Navigate to the next comment in the document.",
  "XtraRichEditStringId.MenuCmd_NextDataRecord": "下一条记录",
  "XtraRichEditStringId.MenuCmd_NextDataRecordDescription": "下一条记录",
  "XtraRichEditStringId.MenuCmd_NextRevision": "下一个",
  "XtraRichEditStringId.MenuCmd_NextRevisionDescription": "Jump to the next tracked change.",
  "XtraRichEditStringId.MenuCmd_None": " ",
  "XtraRichEditStringId.MenuCmd_OpenHyperlink": "打开超链接",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPosition": "在当前位置打开超链接",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPositionDescription": "在当前位置打开超链接",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkDescription": "打开超链接",
  "XtraRichEditStringId.MenuCmd_OvertypeText": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_OvertypeTextDescription": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenter": "居中",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenterDescription": "文本居中",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistribute": "Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistributeDescription": "Align text to both left and right margins.\n\nSpace will be added between characters and words. If the last line is short, extra spaces will be added between the characters to make it match the width of the paragraph.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustify": "两端对齐",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyDescription": "文本两端对齐，字与字之间增加必要的空间。将沿页面左右边缘创建简洁的外观。",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHighDescription": "Align text to both left and right margins.\n\nSpecifies that a paragraph uses the kashida with the widest length for Arabic text. For other languages, paragraph text is justified with the widest inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLowDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses small length Kashida. In other languages, text is justified with short inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMediumDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses medium-length Kashida. In other languages, text is justified with wider inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeft": "左对齐文本",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeftDescription": "文本左对齐。",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRight": "右对齐文本",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRightDescription": "文本右对齐。",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistributeDescription": "Align text to both left and right margins by adding extra space between each two characters for languages with tone mark and vowel mark.",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRight": "Left-to-Right Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRightDescription": "Set the text to read from right to left.",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeft": "Right-to-Left Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeftDescription": "Set the text to read from left to right.",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenation": "禁止当前段断字",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenationDescription": "禁止当前段断字",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbers": "禁止当前段编号",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbersDescription": "禁止当前段编号",
  "XtraRichEditStringId.MenuCmd_Paste": "粘贴",
  "XtraRichEditStringId.MenuCmd_PasteDescription": "粘贴剪贴板中的内容。",
  "XtraRichEditStringId.MenuCmd_PasteFiles": "文件",
  "XtraRichEditStringId.MenuCmd_PasteFilesDescription": "剪贴板内容以嵌入式文件插入",
  "XtraRichEditStringId.MenuCmd_PasteHtmlText": "HTML格式",
  "XtraRichEditStringId.MenuCmd_PasteHtmlTextDescription": "剪贴板内容以HTML格式插入",
  "XtraRichEditStringId.MenuCmd_PasteImage": "图片",
  "XtraRichEditStringId.MenuCmd_PasteImageDescription": "剪贴板内容以图片格式插入",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImage": "图元文件",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImageDescription": "剪贴板内容以图元文件格式插入",
  "XtraRichEditStringId.MenuCmd_PastePlainText": "无格式文本",
  "XtraRichEditStringId.MenuCmd_PastePlainTextDescription": "插入剪贴板内容不添加格式",
  "XtraRichEditStringId.MenuCmd_PasteRtfText": "格式文本(RTF)",
  "XtraRichEditStringId.MenuCmd_PasteRtfTextDescription": "插入剪贴板内容并添加格式",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlText": "格式文本(XAML)",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlTextDescription": "插入剪贴板内容作为文本并添加格式",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPoint": "光标放置点",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPointDescription": "光标放置点",
  "XtraRichEditStringId.MenuCmd_PreviousComment": "上一页",
  "XtraRichEditStringId.MenuCmd_PreviousCommentDescription": "Navigate to the previous comment in the document.",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecord": "前一条记录",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecordDescription": "前一条记录",
  "XtraRichEditStringId.MenuCmd_PrevRevision": "上一页",
  "XtraRichEditStringId.MenuCmd_PrevRevisionDescription": "Jump to the previous tracked change.",
  "XtraRichEditStringId.MenuCmd_Print": "打印",
  "XtraRichEditStringId.MenuCmd_PrintDescription": "打印前，请选择打印机，及需打印的份数。",
  "XtraRichEditStringId.MenuCmd_PrintPreview": "打印预览",
  "XtraRichEditStringId.MenuCmd_PrintPreviewDescription": "打印前预览并修改文件。",
  "XtraRichEditStringId.MenuCmd_PrintView": "打印视图",
  "XtraRichEditStringId.MenuCmd_PrintViewDescription": "查看文档的打印外观",
  "XtraRichEditStringId.MenuCmd_ProtectDocument": "保护文档",
  "XtraRichEditStringId.MenuCmd_ProtectDocumentDescription": "通过设置密码来限制访问文档",
  "XtraRichEditStringId.MenuCmd_QuickPrint": "快速打印",
  "XtraRichEditStringId.MenuCmd_QuickPrintDescription": "文档直接发送到默认打印机而不做任何改动。",
  "XtraRichEditStringId.MenuCmd_ReadingView": "浏览视图",
  "XtraRichEditStringId.MenuCmd_ReadingViewDescription": "浏览视图",
  "XtraRichEditStringId.MenuCmd_Redo": "重做",
  "XtraRichEditStringId.MenuCmd_RedoDescription": "重做",
  "XtraRichEditStringId.MenuCmd_Reject": "Reject",
  "XtraRichEditStringId.MenuCmd_RejectAllChanges": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTracking": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTrackingDescription": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesDescription": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShown": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShownDescription": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevision": "Reject and Move to Next",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevisionDescription": "Undo this change and move on to the next one.",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevision": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevisionDescription": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectDescription": "Click for additional options, such as rejecting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlink": "移除超链接",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlinkDescription": "移除超链接",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraph": "移除段后间距",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraphDescription": "移除段后间距",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraph": "移除短前间距",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraphDescription": "移除段后间距",
  "XtraRichEditStringId.MenuCmd_Replace": "替换",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackward": "向后全部替换",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackwardDescription": "向后全部替换描述",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForward": "向前全部替换",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForwardDescription": "向前全部替换描述",
  "XtraRichEditStringId.MenuCmd_ReplaceBackward": "向后替换",
  "XtraRichEditStringId.MenuCmd_ReplaceBackwardDescription": "向后替换",
  "XtraRichEditStringId.MenuCmd_ReplaceDescription": "替换文档中的文本。",
  "XtraRichEditStringId.MenuCmd_ReplaceForward": "向前替换",
  "XtraRichEditStringId.MenuCmd_ReplaceForwardDescription": "向前替换",
  "XtraRichEditStringId.MenuCmd_ReplaceText": "替换文本",
  "XtraRichEditStringId.MenuCmd_ReplaceTextDescription": "替换文本描述",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormatting": "重置字符格式",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormattingDescription": "将选择部分所应用的样式重置为默认的字符格式",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBorders": "无边框线",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBordersDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_Reviewers": "Reviewers",
  "XtraRichEditStringId.MenuCmd_ReviewersDescription": "选择要在文档中突出显示的审阅者批注。",
  "XtraRichEditStringId.MenuCmd_ReviewingPane": "审阅窗格",
  "XtraRichEditStringId.MenuCmd_ReviewingPaneDescription": "Show or hide the document comments in a separate window.",
  "XtraRichEditStringId.MenuCmd_SaveDocument": "保存",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAs": "另存为",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAsDescription": "另存为",
  "XtraRichEditStringId.MenuCmd_SaveDocumentDescription": "保存",
  "XtraRichEditStringId.MenuCmd_ScrollDown": "向下滚动",
  "XtraRichEditStringId.MenuCmd_ScrollDownDescription": "向下滚动",
  "XtraRichEditStringId.MenuCmd_ScrollToPage": "滚动到页面",
  "XtraRichEditStringId.MenuCmd_ScrollToPageDescription": "滚动到页面",
  "XtraRichEditStringId.MenuCmd_SelectAll": "全选",
  "XtraRichEditStringId.MenuCmd_SelectAllDescription": "全选",
  "XtraRichEditStringId.MenuCmd_SelectBookmark": "选择书签",
  "XtraRichEditStringId.MenuCmd_SelectBookmarkDescription": "选择书签",
  "XtraRichEditStringId.MenuCmd_SelectComment": "选择注释",
  "XtraRichEditStringId.MenuCmd_SelectCommentDescription": "选择注释",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaret": "选择补注号后一个字段",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaretDescription": "选择补注号一侧的字段",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaret": "选择补注号前一个字段",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaretDescription": "选择补注号前的字段",
  "XtraRichEditStringId.MenuCmd_SelectTable": "选择表格",
  "XtraRichEditStringId.MenuCmd_SelectTableCell": "选择单元格",
  "XtraRichEditStringId.MenuCmd_SelectTableCellDescription": "选择单元格",
  "XtraRichEditStringId.MenuCmd_SelectTableColumns": "选择列",
  "XtraRichEditStringId.MenuCmd_SelectTableColumnsDescription": "选择列",
  "XtraRichEditStringId.MenuCmd_SelectTableDescription": "选择表格",
  "XtraRichEditStringId.MenuCmd_SelectTableElements": "选择",
  "XtraRichEditStringId.MenuCmd_SelectTableElementsDescription": "选择当前的单元格，行，列或者整个表格",
  "XtraRichEditStringId.MenuCmd_SelectTableRow": "选择行",
  "XtraRichEditStringId.MenuCmd_SelectTableRowDescription": "选择行",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacing": "2.0倍行距",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacingDescription": "2.0倍行距",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapType": "在文本之后",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignment": "底部居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignmentDescription": "文字环绕在矩形底部居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignment": "底部居左",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignmentDescription": "文字环绕在矩形底部居左",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignment": "底部居右",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignmentDescription": "文字环绕在矩形底部居右",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapType": "在文本之前",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapType": "In Line with Text",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignment": "居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignmentDescription": "文字环绕在矩形居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignment": "左面居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignmentDescription": "文字环绕在矩形左面居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignment": "右面居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignmentDescription": "文字环绕在矩形右面居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapType": "矩形",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapType": "通过",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapType": "窄",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapType": "上下",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignment": "上面居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignmentDescription": "文字环绕在矩形上面居中",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignment": "左上",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignmentDescription": "文字环绕在矩形左上",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignment": "右上",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignmentDescription": "文字环绕到矩形右上",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomatic": "自动",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomaticDescription": "Turns on Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNone": "无",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNoneDescription": "Turns off Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientation": "横向",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientationDescription": "横向",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMargins": "适中上:\t{1,10}\t下:\t{3,10}左:\t{0,10}\t右:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMargins": "窄上:\t{1,10}\t下:\t{3,10}左:\t{0,10}\t右:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMargins": "普通上:\t{1,10}\t下:\t{3,10}左:\t{0,10}\t右:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMarginsDescription": "普通上:\t{1,10}\t下:\t{3,10}左:\t{0,10}\t右:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevel": "不显示目录",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevelDescription": "不显示目录",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1Level": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1LevelDescription": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2Level": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2LevelDescription": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3Level": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3LevelDescription": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4Level": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4LevelDescription": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5Level": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5LevelDescription": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6Level": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6LevelDescription": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7Level": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7LevelDescription": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8Level": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8LevelDescription": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9Level": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9LevelDescription": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevel": "等级{0}",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevelDescription": "等级{0}",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientation": "纵向",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientationDescription": "纵向",
  "XtraRichEditStringId.MenuCmd_SetSectionColumns": "分栏",
  "XtraRichEditStringId.MenuCmd_SetSectionColumnsDescription": "将文字拆分成两栏或更多栏",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuous": "连续",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuousDescription": "连续",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNone": "无",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNoneDescription": "无行号",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPage": "每一页重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPageDescription": "每一页重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSection": "每一节重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSectionDescription": "每一节重新开始",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumn": "一栏",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumnDescription": "一栏",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumns": "三栏",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumnsDescription": "三栏",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumns": "二栏",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumnsDescription": "两栏",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacing": "1.5倍行距",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacingDescription": "1.5倍行距",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacing": "设置单一段落间距",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacingDescription": "单倍行距",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMargins": "宽上:\t{1,10}\t下:\t{3,10}左:\t{0,10}\t右:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShiftTabKey": "ShiftTab键",
  "XtraRichEditStringId.MenuCmd_ShiftTabKeyDescription": "ShiftTab键",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodes": "显示所有字段名",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodesDescription": "显示所有字段名",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResults": "显示所有字段结果",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResultsDescription": "显示所有字段的结果",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkForm": "书签",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkFormDescription": "在文档中为指定的点创建书签。您可以使用超链接直接到书签位置",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingForm": "Borders and Shading",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingFormDescription": "Explore additional border options, such as line color and line width",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupForm": "更多列",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupFormDescription": "显示列对话框设置列宽度",
  "XtraRichEditStringId.MenuCmd_ShowCommentForm": "Comment",
  "XtraRichEditStringId.MenuCmd_ShowCommentFormDescription": "显示注释对话框。",
  "XtraRichEditStringId.MenuCmd_ShowDocumentProperties": "Document Properties",
  "XtraRichEditStringId.MenuCmd_ShowDocumentPropertiesDescription": "Show the Properties dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleForm": "修改样式",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleFormDescription": "显示编辑样式对话框",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsForm": "布局",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsFormDescription": "显示布局对话框",
  "XtraRichEditStringId.MenuCmd_ShowFontForm": "字体",
  "XtraRichEditStringId.MenuCmd_ShowFontFormDescription": "显示字体对话框。",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkForm": "插入超链接",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkFormDescription": "创建一个超链接到网页，图片，电子邮件或程序",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationForm": "Hyphenation Options...",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationFormDescription": "Change the hyphenation behavior of the selected text.",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldForm": "插入合并字段",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldFormDescription": "向收件人列表或文档数据列表中添加一个字段",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingForm": "行编号选项",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingFormDescription": "行编号选项",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingForm": "行间距选项...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingFormDescription": "行间距选项...",
  "XtraRichEditStringId.MenuCmd_ShowMarkup": "Show Markup",
  "XtraRichEditStringId.MenuCmd_ShowMarkupDescription": "Choose what types of markup to show in your document.",
  "XtraRichEditStringId.MenuCmd_ShowNumberingList": "计数列表",
  "XtraRichEditStringId.MenuCmd_ShowNumberingListDescription": "显示编号列表对话框。",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupForm": "自定义边距",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupForm": "更多纸张尺寸",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupForm": "页面设置",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupFormDescription": "显示页面设置对话框",
  "XtraRichEditStringId.MenuCmd_ShowParagraphForm": "段落",
  "XtraRichEditStringId.MenuCmd_ShowParagraphFormDescription": "显示段落对话框。",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialForm": "选择性粘贴",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialFormDescription": "选择性粘贴",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsForm": "编辑权限",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsFormDescription": "编辑权限",
  "XtraRichEditStringId.MenuCmd_ShowSymbol": "标号",
  "XtraRichEditStringId.MenuCmd_ShowSymbolDescription": "显示符号对话框。",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsForm": "单元格合并",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsFormDescription": "自定义单元格间的边距",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesForm": "属性",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescription": "显示表格属性对话框中高级属性，如缩进和文字环绕选项",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescriptionMenuItem": "显示表格属性对话框",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormMenuItem": "表格属性",
  "XtraRichEditStringId.MenuCmd_ShowTabsForm": "Tabs",
  "XtraRichEditStringId.MenuCmd_ShowTabsFormDescription": "Tabs",
  "XtraRichEditStringId.MenuCmd_SimpleView": "简单查看",
  "XtraRichEditStringId.MenuCmd_SimpleViewDescription": "将文档看做一个简单的示例。忽略了页面布局，只注意文本编辑器。",
  "XtraRichEditStringId.MenuCmd_SplitTable": "拆分表格",
  "XtraRichEditStringId.MenuCmd_SplitTableCells": "拆分单元格",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsDescription": "将所选单元格拆分为多个单元格",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsMenuItem": "拆分单元格...",
  "XtraRichEditStringId.MenuCmd_SplitTableDescription": "将单元格拆分为两个表格。选中的行将成为新表格的首行",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftView": "设计视图",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftViewDescription": "以草图形式查看该文件并快速编辑。以此种方式查看，某些内容是不可见的。",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutView": "打印预览",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutViewDescription": "查看将被打印到纸上的文档。",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleView": "简单视图",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleViewDescription": "将文档看做一个简单的示例。这样就忽略了页面布局，只注意文本编辑器。",
  "XtraRichEditStringId.MenuCmd_SymbolFormInsertButton": "插入",
  "XtraRichEditStringId.MenuCmd_TabKey": "Tab键",
  "XtraRichEditStringId.MenuCmd_TabKeyDescription": "Tab键",
  "XtraRichEditStringId.MenuCmd_ToggleAllFields": "Toggle All Fields",
  "XtraRichEditStringId.MenuCmd_ToggleAllFieldsDescription": "Toggle between displaying field codes and their results in the document",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibility": "切换作者可见性",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibilityDescription": "切换作者可见性",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumn": "带状列",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumnDescription": "显示带状列，偶数列格式化不同于奇数列。这条带可以使表更容易阅读。",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRows": "带状行",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRowsDescription": "显示带状行，偶数行格式不同于奇数行。这条带状可以使表更容易阅读。",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPage": "首页不同",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPageDescription": "对文档的首页指定一个唯一的页眉与页脚.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPages": "奇&&偶数页不同",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPagesDescription": "指定奇数页有一个不同于偶数页的页眉与页脚.",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodes": "切换域代码",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodesDescription": "切换域代码",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLocked": "切换域锁定",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLockedDescription": "切换域锁定",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumn": "第一列",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumnDescription": "表中的第一列显示特殊格式。",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRow": "标题行",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRowDescription": "表中的第一行显示特殊格式。",
  "XtraRichEditStringId.MenuCmd_ToggleFontBold": "加粗",
  "XtraRichEditStringId.MenuCmd_ToggleFontBoldDescription": "将所选文本加粗。",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeout": "双删除线",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeoutDescription": "双删除线",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderline": "双下划线",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "双下划线",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalic": "斜体",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalicDescription": "将所选文字设置为倾斜。",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeout": "删除线",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeoutDescription": "在选定的文本中间画条线。",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderline": "下划线",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderlineDescription": "选定的文本下加下划线",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPrevious": "连接到上一章节",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPreviousDescription": "连接到上一章节使得当前章节的页眉与页脚与上一章节包含相同的内容.",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenText": "隐藏",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenTextDescription": "隐藏.",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumn": "最后一列",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumnDescription": "表中的最后一列显示特殊格式。",
  "XtraRichEditStringId.MenuCmd_ToggleLastRow": "总行数",
  "XtraRichEditStringId.MenuCmd_ToggleLastRowDescription": "显示表的最后一列特殊的格式。",
  "XtraRichEditStringId.MenuCmd_ToggleOvertype": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleOvertypeDescription": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRuler": "水平标尺",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRulerDescription": "查看水平标尺，用于测量和对齐文档中的对象",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLines": "查看网格线",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLinesDescription": "显示/隐藏表格内的网格线",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRuler": "垂直标尺",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRulerDescription": "查看垂直标尺，用于测量和对齐文档中的对象",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouType": "拼写检查输入文本",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouTypeDescription": "输入文本时就对文本就行拼写检查",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContents": "根据内容调整表格",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContentsDescription": "表格根据内容自动适应",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholder": "自动调整",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholderDescription": "根据内容自动调整宽度，您可以设置表格宽度为窗体宽度或者固定宽度",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindow": "根据窗口调整表格",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindowDescription": "表格自适应窗体",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBorders": "所有边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBordersDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorder": "下边框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignment": "靠下居中对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignmentDescription": "文字居中，并靠单元格底部对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignment": "靠下左对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignmentDescription": "文字靠单元格左下角对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignment": "靠下右对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignmentDescription": "文字靠单元格右下角对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorder": "内部边框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorder": "内部横框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorder": "内部竖框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorder": "左边框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignment": "水平居中",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignmentDescription": "单元格内的文字水平和垂直都居中",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignment": "中部左对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignmentDescription": "文字垂直居中，并靠单元格左侧对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignment": "中部右对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignmentDescription": "文字垂直居中，并靠单元格右侧对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorder": "外侧边框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorder": "右边框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorder": "上边框线",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorderDescription": "自定义所选单元格的边框",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignment": "靠上居中对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignmentDescription": "文字居中，并靠单元格顶部对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignment": "靠上左对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignmentDescription": "文字靠单元格左上角对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignment": "靠上右对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignmentDescription": "文字靠单元格右上角对齐",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidth": "固定列宽",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidthDescription": "设置表格固定宽度",
  "XtraRichEditStringId.MenuCmd_ToggleTextCase": "大小写转换",
  "XtraRichEditStringId.MenuCmd_ToggleTextCaseDescription": "大小写转换",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedData": "查看合并数据",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedDataDescription": "从包含实际数据的文档中替换合并联系人列表，以便看清其结构。",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespace": "显示/隐藏¶",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespaceDescription": "显示段落标记和其他隐藏的格式符号。",
  "XtraRichEditStringId.MenuCmd_TrackChanges": "Track Changes",
  "XtraRichEditStringId.MenuCmd_TrackChangesDescription": "Keep track of changes made to this document.",
  "XtraRichEditStringId.MenuCmd_Undo": "撤消",
  "XtraRichEditStringId.MenuCmd_UndoDescription": "撤消",
  "XtraRichEditStringId.MenuCmd_UnlockField": "解锁域",
  "XtraRichEditStringId.MenuCmd_UnlockFieldDescription": "解锁域",
  "XtraRichEditStringId.MenuCmd_UnprotectDocument": "未保护的文档",
  "XtraRichEditStringId.MenuCmd_UnprotectDocumentDescription": "未保护的文档",
  "XtraRichEditStringId.MenuCmd_UpdateField": "更新字段",
  "XtraRichEditStringId.MenuCmd_UpdateFieldDescription": "更新字段",
  "XtraRichEditStringId.MenuCmd_UpdateFields": "更新字段",
  "XtraRichEditStringId.MenuCmd_UpdateFieldsDescription": "更新字段",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContents": "更新表格",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContentsDescription": "更新目录使所有目录指向正确的页码",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFigures": "更新表",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFiguresDescription": "更新的表的数字，包括文档中的所有条目。",
  "XtraRichEditStringId.MenuCmd_Zoom": "放大缩小",
  "XtraRichEditStringId.MenuCmd_ZoomDescription": "缩放",
  "XtraRichEditStringId.MenuCmd_ZoomIn": "放大",
  "XtraRichEditStringId.MenuCmd_ZoomInDescription": "放大",
  "XtraRichEditStringId.MenuCmd_ZoomOut": "缩小",
  "XtraRichEditStringId.MenuCmd_ZoomOutDescription": "缩小",
  "XtraRichEditStringId.Msg_BookmarkCreationFailing": "已存在相同名称的书签。替换原有书签？",
  "XtraRichEditStringId.Msg_CannotGroupInlineShapes": "You cannot group inline shapes.",
  "XtraRichEditStringId.Msg_CannotGroupShapesLocatedInDifferentSubdocuments": "Cannot group shapes that are located in different subdocuments.",
  "XtraRichEditStringId.Msg_CantDeleteDefaultStyle": "不能删除默认样式.",
  "XtraRichEditStringId.Msg_CantPasteFormField": "You cannot paste form fields into comments, headers, footers, footnotes, endnotes, or text boxes.",
  "XtraRichEditStringId.Msg_CantResetDefaultProperties": "不能重置默认的样式设置.",
  "XtraRichEditStringId.Msg_ClickToComment": " commented:",
  "XtraRichEditStringId.Msg_ClickToFollowHyperlink": "点击跟踪链接",
  "XtraRichEditStringId.Msg_ContinueSearchFromBeginningQuestion": "你想从文件头开始搜索吗？",
  "XtraRichEditStringId.Msg_ContinueSearchFromEndQuestion": "你想从文件尾开始搜索吗？",
  "XtraRichEditStringId.Msg_ContinueSearchInRemainderQuestion": "你要在文档的其余部分搜索吗？",
  "XtraRichEditStringId.Msg_CreateHyperlinkError": "无法创建超链接。在指定的区域内已存在超链接。",
  "XtraRichEditStringId.Msg_DeleteTableStyleQuestion": "你想从文档中删除样式{0}？",
  "XtraRichEditStringId.Msg_DocumentPositionDoesntMatchDocument": "错误:指定文档位置或范围属于其他文档或子文档",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPassword": "密码不正确！",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPasswordConfirmation": "确认密码与前面输入的密码不一样",
  "XtraRichEditStringId.Msg_DuplicateBookmark": "复制书签",
  "XtraRichEditStringId.Msg_EncryptedFile": "目前不支持加密的文件",
  "XtraRichEditStringId.Msg_EncryptedFileIntegrityCheckFailed": "This file may have been tampered with or corrupted and the contents should not be trusted. Do you wish to continue opening this file?",
  "XtraRichEditStringId.Msg_ErrorInvalidCustomPropertyValue": "The value entered does not match the specified type. The value will be stored as text.",
  "XtraRichEditStringId.Msg_ErrorLinkDeletedStyle": "错误：无法连接到已删除样式",
  "XtraRichEditStringId.Msg_GroupCannotContainCanvas": "A group cannot contain a canvas.",
  "XtraRichEditStringId.Msg_IncorrectBookmarkName": "书签名称应该用一个字母开始，并且只包含字母数字字符和下划线。",
  "XtraRichEditStringId.Msg_IncorrectNumericFieldFormat": "错误：数字无法表示为指定格式。",
  "XtraRichEditStringId.Msg_IncorrectPassword": "The password you supplied is not correct. Verify that the CAPS LOCK key is off and be sure to use the correct capitalization.",
  "XtraRichEditStringId.Msg_IncorrectPattern": "不正确的样式",
  "XtraRichEditStringId.Msg_IntegrityCheckFailedError": "Encrypted file integrity check failed!\nThis file may have been tampered with or corrupted.",
  "XtraRichEditStringId.Msg_InternalError": "内部错误！",
  "XtraRichEditStringId.Msg_InvalidBeginInit": "错误：在BeginUpdate中调用BeginInit",
  "XtraRichEditStringId.Msg_InvalidBeginUpdate": "错误:在BeginInit中调用BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidCharacterScale": "The value must be between {0} and {1}",
  "XtraRichEditStringId.Msg_InvalidCopyFromDocumentModel": "错误:源和目标文档是不同类型",
  "XtraRichEditStringId.Msg_InvalidDictionaryFormat": "The dictionary format is incorrect.",
  "XtraRichEditStringId.Msg_InvalidDivisor": "该数必须是{0}的除数",
  "XtraRichEditStringId.Msg_InvalidDocumentModel": "错误:文档类型不同",
  "XtraRichEditStringId.Msg_InvalidEndInit": "错误:无BeginInit的情况下,或在BeginUpdate内调用EndInit或CancelInit",
  "XtraRichEditStringId.Msg_InvalidEndUpdate": "错误:无BeginUpdate的情况下,或在BeginInit内调用EndUpdate或CancelUpdate",
  "XtraRichEditStringId.Msg_InvalidFontSize": "数值必须在{0}和{1}之间.",
  "XtraRichEditStringId.Msg_InvalidHeaderFooterOffset": "The measurement must be between {0} and {1}.",
  "XtraRichEditStringId.Msg_InvalidHtmlImagePath": "The specified image path does not exist.",
  "XtraRichEditStringId.Msg_InvalidImageFile": "The specified image is not valid.",
  "XtraRichEditStringId.Msg_InvalidNavigateUri": "无法访问指定的URI。",
  "XtraRichEditStringId.Msg_InvalidNumber": "这不是一个有效值。",
  "XtraRichEditStringId.Msg_InvalidNumberingListIndex": "NumberingListIndex指到一个列表中不存在的",
  "XtraRichEditStringId.Msg_InvalidNumberingListStartAtValue": "对于此格式，'StartAt'必须以{0}和{1}之间",
  "XtraRichEditStringId.Msg_InvalidParagraphContainNumbering": "错误:段落已被编号",
  "XtraRichEditStringId.Msg_InvalidParentStyle": "错误：无效父版本样式引起的无限循环",
  "XtraRichEditStringId.Msg_InvalidSetCharacterProperties": "错误：未使用BeginInit或未向文本添加对象的情况下，无法设置属性。",
  "XtraRichEditStringId.Msg_InvalidSetParagraphProperties": "错误：未使用BeginInit或未向文本添加对象的情况下，无法设置属性。",
  "XtraRichEditStringId.Msg_InvalidStyleName": "无效的样式名",
  "XtraRichEditStringId.Msg_InvalidTabStop": "这不是一个有效的制表位。",
  "XtraRichEditStringId.Msg_InvalidValueRange": "数值必须在{0}和{1}之间。",
  "XtraRichEditStringId.Msg_IsNotValid": "'{0}'不是'{1}'的有效值",
  "XtraRichEditStringId.Msg_LeftRightSectionMarginsTooLarge": "左/右页边距太大,在一些节点的页面高度",
  "XtraRichEditStringId.Msg_Loading": "加载...",
  "XtraRichEditStringId.Msg_MagicNumberNotFound": "打开文件的类型不正确",
  "XtraRichEditStringId.Msg_MenuManagerPropertyIsNotSet": "The MenuManager property of RichEditControl is not set.",
  "XtraRichEditStringId.Msg_MissingOperator": "!丢失操作符.",
  "XtraRichEditStringId.Msg_NoDefaultTabs": "不能对默认的制表位进行设置.",
  "XtraRichEditStringId.Msg_NoTocEntriesFound": "没有找到目录项",
  "XtraRichEditStringId.Msg_NoTrackedChanges": "There aren't any tracked changes in your document.",
  "XtraRichEditStringId.Msg_NumberingListNotInListCollection": "不能使用编号列表，编号列表必须添加到Document.NumberingLists集合中",
  "XtraRichEditStringId.Msg_OperationIsNotValidDueDocumentState": "Operation is not valid due to the current state of the document.",
  "XtraRichEditStringId.Msg_ParagraphStyleNameAlreadyExists": "此样式表名称已存在",
  "XtraRichEditStringId.Msg_PasswordNotConfirmed": "Confirmation password is not identical.",
  "XtraRichEditStringId.Msg_PasswordRequiredError": "Password required to open this file!",
  "XtraRichEditStringId.Msg_PasswordTooLong": "Password length must be less than {0} characters long.",
  "XtraRichEditStringId.Msg_PrintingUnavailable": "打印不可用。检查下例程序集是否安装：{0}{1}",
  "XtraRichEditStringId.Msg_ReplacementsCount": "{0}已被替换。",
  "XtraRichEditStringId.Msg_Saving": "保存...",
  "XtraRichEditStringId.Msg_SearchComplete": "搜索完成。",
  "XtraRichEditStringId.Msg_SearchInBackwardDirectionComplete": "对文档的开头起作用。",
  "XtraRichEditStringId.Msg_SearchInForwardDirectionComplete": "对文档的尾部起作用。",
  "XtraRichEditStringId.Msg_SearchInSelectionComplete": "已选择的搜索已完成。",
  "XtraRichEditStringId.Msg_SearchItemNotFound": "该搜索项找不到。",
  "XtraRichEditStringId.Msg_SelectBookmarkError": "不能选择非当前文档中的书签.",
  "XtraRichEditStringId.Msg_SelectCommentError": "Cannot select a comment of inactive SubDocument.",
  "XtraRichEditStringId.Msg_ShapesBelongToDifferentCanvases": "The specified shapes belong to different canvases and cannot be grouped.",
  "XtraRichEditStringId.Msg_ShapesDoNotBelogToCanvas": "One or more shapes do not belong to the canvas and cannot be grouped.",
  "XtraRichEditStringId.Msg_SpecifiedShapeIsNotGroup": "The specified shape is not a group.",
  "XtraRichEditStringId.Msg_StyleAlreadyLinked": "错误：样式已包含一个链接样式",
  "XtraRichEditStringId.Msg_StyleNameIsEmpty": "The style name cannot be empty.",
  "XtraRichEditStringId.Msg_SyntaxErrorInFieldPattern": "语法错误,{0}.",
  "XtraRichEditStringId.Msg_TableExceedsMaximumNumberOfColumns": "This exceeds the maximum number of columns.",
  "XtraRichEditStringId.Msg_TableIntegrityError": "错误：破坏表的完整性",
  "XtraRichEditStringId.Msg_TopBottomSectionMarginsTooLarge": "顶部/底部边距太大,在一些节点的页面高度",
  "XtraRichEditStringId.Msg_UnexpectedEndOfFormula": "!公式意外终结",
  "XtraRichEditStringId.Msg_UnknownSwitchArgument": "错误!未知的switch参数。",
  "XtraRichEditStringId.Msg_UnmatchedQuotesInFieldPattern": "错误：字符串中包含不匹配的引号。",
  "XtraRichEditStringId.Msg_UnsupportedDocVersion": "只支持MSWord97及以后版本",
  "XtraRichEditStringId.Msg_UnsupportedFormatException": "不支持的文件类型",
  "XtraRichEditStringId.Msg_UseDeletedBookmarkError": "错误：使用了已删除的书签。",
  "XtraRichEditStringId.Msg_UseDeletedCommentError": "Error: using deleted comment",
  "XtraRichEditStringId.Msg_UseDeletedCustomMarkError": "Error: using deleted customMark",
  "XtraRichEditStringId.Msg_UseDeletedFieldError": "错误:使用段落字段",
  "XtraRichEditStringId.Msg_UseDeletedFormFieldError": "Error: using deleted form field",
  "XtraRichEditStringId.Msg_UseDeletedHyperlinkError": "错误：使用了已删除的超链接。",
  "XtraRichEditStringId.Msg_UseDeletedNoteError": "Error: using deleted note",
  "XtraRichEditStringId.Msg_UseDeletedObjectError": "The object is already deleted.",
  "XtraRichEditStringId.Msg_UseDeletedParagraphError": "错误：使用了已删除的段落",
  "XtraRichEditStringId.Msg_UseDeletedSectionError": "错误：使用了已删除的章节",
  "XtraRichEditStringId.Msg_UseDeletedStyleError": "错误：使用了已删除的样式",
  "XtraRichEditStringId.Msg_UseDeletedTableCellError": "删除单元格出错",
  "XtraRichEditStringId.Msg_UseDeletedTableError": "删除表格出错",
  "XtraRichEditStringId.Msg_UseDeletedTableRowError": "删除表格行出错",
  "XtraRichEditStringId.Msg_UsedWrongUnit": "度量单位指定错误。",
  "XtraRichEditStringId.Msg_UseInvalidCharacterProperties": "错误：字符属性无效",
  "XtraRichEditStringId.Msg_UseInvalidCompatibilitySettings": "Error: these compatibility settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidCustomProperties": "Error: this custom properties is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocument": "错误：该文档不合法",
  "XtraRichEditStringId.Msg_UseInvalidDocumentEncryption": "Error: these document encryption settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentProperties": "Error: this document properties is no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentTrackChangesOptions": "Error: these document track changes options are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidParagraphProperties": "错误：段落属性无效",
  "XtraRichEditStringId.Msg_VariableDeletedOrMissed": "错误：文件变量是丢失或删除（Variables集合）",
  "XtraRichEditStringId.Msg_WrongPasswordError": "Password check failed!",
  "XtraRichEditStringId.Msg_ZeroDivide": "!除以零。",
  "XtraRichEditStringId.MsgWinOnlyLimitation": "This action can be performed only on Windows operating system.",
  "XtraRichEditStringId.No": "N",
  "XtraRichEditStringId.Page": "Page {2}: [{3}] ",
  "XtraRichEditStringId.RtlComment": "[{1} {0}] Comment",
  "XtraRichEditStringId.SelectionCollection_AtLeastOneSelectionIsRequiredException": "Cannot remove a selection. At least one selection is required.",
  "XtraRichEditStringId.SelectionCollection_CannotRemoveCaretException": "Cannot remove caret.",
  "XtraRichEditStringId.SelectionCollection_CurrentSelectionAndSpecifiedSelectionIntersectException": "Current selection and the specified selection intersect.",
  "XtraRichEditStringId.SelectionCollection_EmptyCollectionException": "Cannot add an empty collection.",
  "XtraRichEditStringId.SelectionCollection_FirstCellContinuesVerticalMergeException": "The first cell in the selected range continues the vertical merge, which is not allowed in a selection collection.",
  "XtraRichEditStringId.SelectionCollection_LastCellContinuesVerticalMergeException": "The last cell in the selected range continues the vertical merge, which is not allowed in a selection collection.",
  "XtraRichEditStringId.SelectionCollection_OutOfRangeException": "Index was out of range. Must be non-negative and less than the size of the selection collection.",
  "XtraRichEditStringId.SelectionCollection_PartiallySelectedCellsException": "Partially selected cells are not allowed.",
  "XtraRichEditStringId.SelectionCollection_RangeCannotBeEmptyException": "Range cannot be empty.",
  "XtraRichEditStringId.SelectionCollection_SelecitonShouldIncludeNotMoreThanOneRowException": "A selection range should include not more than one row",
  "XtraRichEditStringId.SelectionCollection_SelectionCollectionEmptyException": "The selection collection is empty.",
  "XtraRichEditStringId.SelectionCollection_SelectionExtendsOutsideTableException": "The selection extends outside the table, so the entire row must be selected.",
  "XtraRichEditStringId.SelectionCollection_SelectionShouldContainAtLeastOneCharacterException": "The selection should contain at least one character.",
  "XtraRichEditStringId.SelectionCollection_SpecifiedSelectionsIntersectException": "Specified selections intersect.",
  "XtraRichEditStringId.TabForm_All": "所有表",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentCenter": "居中",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentInside": "内部",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentLeft": "左",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentOutside": "外部",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentRight": "右",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeColumn": "列",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypePage": "页",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentBottom": "底部",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentCenter": "居中",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentInside": "内部",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentOutside": "外部",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentTop": "顶部",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypePage": "页",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeParagraph": "段落",
  "XtraRichEditStringId.TargetFrameDescription_Blank": "新窗口",
  "XtraRichEditStringId.TargetFrameDescription_Parent": "父框架",
  "XtraRichEditStringId.TargetFrameDescription_Self": "同一框架",
  "XtraRichEditStringId.TargetFrameDescription_Top": "整页",
  "XtraRichEditStringId.UnderlineNone": "(无)",
  "XtraRichEditStringId.UserGroup_Administrators": "Administrators",
  "XtraRichEditStringId.UserGroup_Contributors": "Contributors",
  "XtraRichEditStringId.UserGroup_CurrentUser": "Current User",
  "XtraRichEditStringId.UserGroup_Editors": "Editors",
  "XtraRichEditStringId.UserGroup_Everyone": "每个人",
  "XtraRichEditStringId.UserGroup_Owners": "Owners",
  "XtraRichEditStringId.Yes": "Y",
  "RichEditExtensionsStringId.Caption_ColorAutomatic": "自动",
  "RichEditExtensionsStringId.Caption_Formatting": "格式",
  "RichEditExtensionsStringId.Caption_GroupCaptions": "标题",
  "RichEditExtensionsStringId.Caption_GroupClipboard": "剪贴板",
  "RichEditExtensionsStringId.Caption_GroupCommon": "常用",
  "RichEditExtensionsStringId.Caption_GroupDocumentComment": "评论",
  "RichEditExtensionsStringId.Caption_GroupDocumentLanguage": "语言",
  "RichEditExtensionsStringId.Caption_GroupDocumentProofing": "校对",
  "RichEditExtensionsStringId.Caption_GroupDocumentProtection": "保护",
  "RichEditExtensionsStringId.Caption_GroupDocumentTracking": "Tracking",
  "RichEditExtensionsStringId.Caption_GroupDocumentViews": "文档视图",
  "RichEditExtensionsStringId.Caption_GroupEditing": "编辑",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsArrange": "排列",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsShapeStyles": "图形样式",
  "RichEditExtensionsStringId.Caption_GroupFont": "字体",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooter": "页眉/页脚",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignClose": "关闭",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignNavigation": "导航",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignOptions": "设置",
  "RichEditExtensionsStringId.Caption_GroupIllustrations": "图例",
  "RichEditExtensionsStringId.Caption_GroupInfo": "Info",
  "RichEditExtensionsStringId.Caption_GroupLinks": "链接",
  "RichEditExtensionsStringId.Caption_GroupMailMerge": "邮件合并",
  "RichEditExtensionsStringId.Caption_GroupPageBackground": "页面背景",
  "RichEditExtensionsStringId.Caption_GroupPages": "页面",
  "RichEditExtensionsStringId.Caption_GroupPageSetup": "页面设置",
  "RichEditExtensionsStringId.Caption_GroupParagraph": "段落",
  "RichEditExtensionsStringId.Caption_GroupShow": "显示",
  "RichEditExtensionsStringId.Caption_GroupStyles": "样式",
  "RichEditExtensionsStringId.Caption_GroupSymbols": "符号",
  "RichEditExtensionsStringId.Caption_GroupTableOfContents": "表格内容",
  "RichEditExtensionsStringId.Caption_GroupTables": "表格",
  "RichEditExtensionsStringId.Caption_GroupText": "文本",
  "RichEditExtensionsStringId.Caption_GroupZoom": "缩放",
  "RichEditExtensionsStringId.Caption_NoColor": "无颜色",
  "RichEditExtensionsStringId.Caption_NoFill": "不填充",
  "RichEditExtensionsStringId.Caption_NoOutline": "无描述",
  "RichEditExtensionsStringId.Caption_PageCategoryFloatingPictureTools": "图片工具",
  "RichEditExtensionsStringId.Caption_PageCategoryHeaderFooterTools": "页眉/页脚工具",
  "RichEditExtensionsStringId.Caption_PageFile": "文件",
  "RichEditExtensionsStringId.Caption_PageFloatingObjectPictureToolsFormat": "格式",
  "RichEditExtensionsStringId.Caption_PageHeaderFooterToolsDesign": "设计",
  "RichEditExtensionsStringId.Caption_PageHome": "主页",
  "RichEditExtensionsStringId.Caption_PageInsert": "插入",
  "RichEditExtensionsStringId.Caption_PageLayout": "布局",
  "RichEditExtensionsStringId.Caption_PageMailings": "邮件",
  "RichEditExtensionsStringId.Caption_PagePageLayout": "页面布局",
  "RichEditExtensionsStringId.Caption_PageReferences": "参考文献",
  "RichEditExtensionsStringId.Caption_PageReview": "审阅",
  "RichEditExtensionsStringId.Caption_PageView": "视图",
  "ASPxRichEditStringId.Font": "字体",
  "ASPxRichEditStringId.FontStyle": "Font style",
  "ASPxRichEditStringId.FontSize": "Font size",
  "ASPxRichEditStringId.FontColor": "Font color",
  "ASPxRichEditStringId.UnderlineStyle": "Underline style",
  "ASPxRichEditStringId.UnderlineColor": "Underline color",
  "ASPxRichEditStringId.Effects": "Effect",
  "ASPxRichEditStringId.AllCaps": "All caps",
  "ASPxRichEditStringId.Hidden": "隐藏",
  "ASPxRichEditStringId.Normal": "正常",
  "ASPxRichEditStringId.Bold": "加粗",
  "ASPxRichEditStringId.Italic": "斜体",
  "ASPxRichEditStringId.BoldItalic": "Bold Italic",
  "ASPxRichEditStringId.UnderlineWordsOnly": "Underline words only",
  "ASPxRichEditStringId.UnderlineType_None": "无",
  "ASPxRichEditStringId.UnderlineType_Single": "Single",
  "ASPxRichEditStringId.UnderlineType_Dotted": "Dotted",
  "ASPxRichEditStringId.UnderlineType_Dashed": "Dashed",
  "ASPxRichEditStringId.UnderlineType_DashDotted": "Dash Dotted",
  "ASPxRichEditStringId.UnderlineType_DashDotDotted": "Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_Double": "Double",
  "ASPxRichEditStringId.UnderlineType_HeavyWave": "Heavy Wave",
  "ASPxRichEditStringId.UnderlineType_LongDashed": "Long Dashed",
  "ASPxRichEditStringId.UnderlineType_ThickSingle": "Thick Single",
  "ASPxRichEditStringId.UnderlineType_ThickDotted": "Thick Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickDashed": "Thick Dashed",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotted": "Thick Dash Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotDotted": "Thick Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_ThickLongDashed": "Thick Long Dashed",
  "ASPxRichEditStringId.UnderlineType_DoubleWave": "Double Wave",
  "ASPxRichEditStringId.UnderlineType_Wave": "Wave",
  "ASPxRichEditStringId.UnderlineType_DashSmallGap": "Dash Small Gap",
  "ASPxRichEditStringId.StrikeoutType_None": "无",
  "ASPxRichEditStringId.StrikeoutType_Single": "Single",
  "ASPxRichEditStringId.StrikeoutType_Double": "Double",
  "ASPxRichEditStringId.CharacterFormattingScript_Normal": "正常",
  "ASPxRichEditStringId.CharacterFormattingScript_Subscript": "下标",
  "ASPxRichEditStringId.CharacterFormattingScript_Superscript": "上标",
  "ASPxRichEditStringId.ParagraphTab0": "Indents And Spacing",
  "ASPxRichEditStringId.ParagraphTab1": "Line And Page Breaks",
  "ASPxRichEditStringId.General": "常规",
  "ASPxRichEditStringId.Alignment": "对齐",
  "ASPxRichEditStringId.Left": "左",
  "ASPxRichEditStringId.Right": "右",
  "ASPxRichEditStringId.Centered": "Centered",
  "ASPxRichEditStringId.Justified": "Justified",
  "ASPxRichEditStringId.OutlineLevel": "Outline level",
  "ASPxRichEditStringId.BodyText": "Body Text",
  "ASPxRichEditStringId.Level": "Level",
  "ASPxRichEditStringId.Indentation": "Indentation",
  "ASPxRichEditStringId.Special": "特别",
  "ASPxRichEditStringId.By": "By",
  "ASPxRichEditStringId.none": "(无)",
  "ASPxRichEditStringId.FirstLine": "First line",
  "ASPxRichEditStringId.Hanging": "Hanging",
  "ASPxRichEditStringId.Spacing": "间距",
  "ASPxRichEditStringId.Before": "Before",
  "ASPxRichEditStringId.LineSpacing": "Line spacing",
  "ASPxRichEditStringId.At": "At",
  "ASPxRichEditStringId.After": "After",
  "ASPxRichEditStringId.Single": "Single",
  "ASPxRichEditStringId.spacing_1_5_lines": "1.5 lines",
  "ASPxRichEditStringId.Double": "Double",
  "ASPxRichEditStringId.Multiple": "Multiple",
  "ASPxRichEditStringId.Exactly": "Exactly",
  "ASPxRichEditStringId.AtLeast": "At least",
  "ASPxRichEditStringId.NoSpace": "Don't add space between paragraph of the same style",
  "ASPxRichEditStringId.Pagination": "Pagination",
  "ASPxRichEditStringId.KLT": "Keep lines together",
  "ASPxRichEditStringId.PBB": "Page break before",
  "ASPxRichEditStringId.Options": "选项",
  "ASPxRichEditStringId.Preview": "预览",
  "ASPxRichEditStringId.Style": "样式",
  "ASPxRichEditStringId.Color": "颜色",
  "ASPxRichEditStringId.SaveToServer": "Save file to the server",
  "ASPxRichEditStringId.DownloadCopy": "Download a copy",
  "ASPxRichEditStringId.FolderPath": "Folder path",
  "ASPxRichEditStringId.FileType": "File type",
  "ASPxRichEditStringId.FileName": "File name",
  "ASPxRichEditStringId.ChooseType": "Choose download file type",
  "ASPxRichEditStringId.SaveFileAs": "Save file as",
  "ASPxRichEditStringId.Invalid_FileName": "Invalid file name",
  "ASPxRichEditStringId.PathDoesNotExist": "Path does not exist.\nCheck the path and try again.",
  "ASPxRichEditStringId.Portrait": "纵向",
  "ASPxRichEditStringId.Landscape": "横向",
  "ASPxRichEditStringId.Continuous": "连续",
  "ASPxRichEditStringId.NewPage": "New page",
  "ASPxRichEditStringId.EvenPage": "Even page",
  "ASPxRichEditStringId.OddPage": "Odd page",
  "ASPxRichEditStringId.WholeDocument": "Whole document",
  "ASPxRichEditStringId.CurrentSection": "Current section",
  "ASPxRichEditStringId.SelectedSections": "Selected sections",
  "ASPxRichEditStringId.ThisPointForward": "This point forward",
  "ASPxRichEditStringId.Margins": "边距",
  "ASPxRichEditStringId.Paper": "纸张",
  "ASPxRichEditStringId.Layout": "布局",
  "ASPxRichEditStringId.Top": "顶部",
  "ASPxRichEditStringId.Bottom": "底部",
  "ASPxRichEditStringId.Orientation": "方向",
  "ASPxRichEditStringId.PaperSize": "Paper size",
  "ASPxRichEditStringId.Width": "宽度",
  "ASPxRichEditStringId.Height": "高度",
  "ASPxRichEditStringId.Section": "Section",
  "ASPxRichEditStringId.SectionStart": "Section start",
  "ASPxRichEditStringId.HeadersAndFooters": "Headers and footers",
  "ASPxRichEditStringId.DifferentOddAndEven": "Different odd and even",
  "ASPxRichEditStringId.DifferentFirstPage": "Different first page",
  "ASPxRichEditStringId.ApplyTo": "应用",
  "ASPxRichEditStringId.FromEdge": "从边缘",
  "ASPxRichEditStringId.Header": "页眉",
  "ASPxRichEditStringId.Footer": "页脚",
  "ASPxRichEditStringId.CancelButton": "取消",
  "ASPxRichEditStringId.OkButton": "确定",
  "ASPxRichEditStringId.OpenButton": "打开",
  "ASPxRichEditStringId.SaveAsButton": "保存",
  "ASPxRichEditStringId.DownloadButton": "Download",
  "ASPxRichEditStringId.SelectButton": "选择",
  "ASPxRichEditStringId.InsertButton": "插入",
  "ASPxRichEditStringId.ChangeButton": "变化",
  "ASPxRichEditStringId.CloseButton": "关闭",
  "ASPxRichEditStringId.InsertTable_TableSize": "Table Size",
  "ASPxRichEditStringId.InsertTable_NumberOfColumns": "Number of columns",
  "ASPxRichEditStringId.InsertTable_NumberOfRows": "Number of rows",
  "ASPxRichEditStringId.SplitCells_MergeCells": "Merge cells before split",
  "ASPxRichEditStringId.InsertCells_ShiftCellsRight": "Shift cells right",
  "ASPxRichEditStringId.InsertCells_ShiftCellsDown": "Shift cells down",
  "ASPxRichEditStringId.InsertCells_InsertEntireRow": "Insert entire row",
  "ASPxRichEditStringId.InsertCells_InsertEntireColumn": "Insert entire column",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsLeft": "Shift cells left",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsUp": "Shift cells up",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireRow": "Delete entire row",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireColumn": "Delete entire column",
  "ASPxRichEditStringId.InsertImage_FromWeb": "From the web (URL)",
  "ASPxRichEditStringId.InsertImage_FromLocal": "From your computer",
  "ASPxRichEditStringId.InsertImage_EnterUrl": "Enter image web address",
  "ASPxRichEditStringId.InsertImage_UploadInstructions": "Browse your computer for the image file to upload",
  "ASPxRichEditStringId.InsertImage_ImagePreview": "Image preview",
  "ASPxRichEditStringId.TableProperties_Size": "大小",
  "ASPxRichEditStringId.TableProperties_Alignment": "对齐",
  "ASPxRichEditStringId.TableProperties_VerticalAlignment": "Vertical alignment",
  "ASPxRichEditStringId.TableProperties_MeasureIn": "Measure in",
  "ASPxRichEditStringId.TableProperties_PreferredWidth": "Preferred width",
  "ASPxRichEditStringId.TableProperties_IndentLeft": "Indent from left",
  "ASPxRichEditStringId.TableProperties_SpecifyHeight": "Specify height",
  "ASPxRichEditStringId.TableProperties_RowHeight": "Row height is",
  "ASPxRichEditStringId.TableProperties_Table": "表格",
  "ASPxRichEditStringId.TableProperties_Row": "行",
  "ASPxRichEditStringId.TableProperties_Column": "列",
  "ASPxRichEditStringId.TableProperties_Cell": "单元格",
  "ASPxRichEditStringId.TableProperties_Options": "选项...",
  "ASPxRichEditStringId.TableProperties_BordersAndShading": "Borders and Shading...",
  "ASPxRichEditStringId.TableProperties_PreviousRow": "Previous row",
  "ASPxRichEditStringId.TableProperties_NextRow": "Next row",
  "ASPxRichEditStringId.TableProperties_PreviousColumn": "Previous column",
  "ASPxRichEditStringId.TableProperties_NextColumn": "Next column",
  "ASPxRichEditStringId.TableProperties_CantSplit": "允许行跨页断行",
  "ASPxRichEditStringId.TableOptions_DefaultCellMargins": "Default cell margins",
  "ASPxRichEditStringId.TableOptions_DefaultCellSpacing": "Default cell spacing",
  "ASPxRichEditStringId.TableOptions_AllowSpacing": "Allow spacing between cells",
  "ASPxRichEditStringId.TableOptions_AutoResize": "Automatically resize to fit contents",
  "ASPxRichEditStringId.BorderShading_Borders": "边框",
  "ASPxRichEditStringId.BorderShading_Shading": "底纹",
  "ASPxRichEditStringId.BorderShading_Fill": "填充",
  "ASPxRichEditStringId.BorderShading_BordersDescription": "Click on diagram below or use buttons to apply borders",
  "ASPxRichEditStringId.BorderShading_BordersNone": "无",
  "ASPxRichEditStringId.BorderShading_BordersBox": "Box",
  "ASPxRichEditStringId.BorderShading_BordersAll": "全部",
  "ASPxRichEditStringId.BorderShading_BordersGrid": "Grid",
  "ASPxRichEditStringId.BorderShading_BordersCustom": "自定义",
  "ASPxRichEditStringId.CellOptions_CellMargins": "Cell margins",
  "ASPxRichEditStringId.CellOptions_SameAsTable": "Same as the whole table",
  "ASPxRichEditStringId.CellOptions_WrapText": "Wrap text",
  "ASPxRichEditStringId.Columns_Presets": "预设",
  "ASPxRichEditStringId.Columns_NumberOfColumns": "Number of columns",
  "ASPxRichEditStringId.Columns_WidthAndSpacing": "Width and spacing",
  "ASPxRichEditStringId.Columns_EqualWidth": "Equal column width",
  "ASPxRichEditStringId.Columns_Col": "Col #:",
  "ASPxRichEditStringId.Columns_Width": "宽度",
  "ASPxRichEditStringId.Columns_Spacing": "间距",
  "ASPxRichEditStringId.PageFile": "文件",
  "ASPxRichEditStringId.PageHome": "主页",
  "ASPxRichEditStringId.PageInsert": "插入",
  "ASPxRichEditStringId.PagePageLayout": "页面布局",
  "ASPxRichEditStringId.PageReferences": "References",
  "ASPxRichEditStringId.PageMailings": "邮件合并",
  "ASPxRichEditStringId.PageReview": "Review",
  "ASPxRichEditStringId.PageView": "视图",
  "ASPxRichEditStringId.PageHeaderAndFooter": "Header && Footer",
  "ASPxRichEditStringId.PageTableDesign": "设计",
  "ASPxRichEditStringId.PageTableLayout": "布局",
  "ASPxRichEditStringId.PageFloatingObjects": "格式",
  "ASPxRichEditStringId.GroupUndo": "撤消",
  "ASPxRichEditStringId.GroupFont": "字体",
  "ASPxRichEditStringId.GroupParagraph": "段落",
  "ASPxRichEditStringId.GroupClipboard": "剪贴板",
  "ASPxRichEditStringId.GroupEditing": "编辑",
  "ASPxRichEditStringId.GroupCommon": "常见",
  "ASPxRichEditStringId.GroupStyles": "样式",
  "ASPxRichEditStringId.GroupZoom": "缩放",
  "ASPxRichEditStringId.GroupShow": "显示",
  "ASPxRichEditStringId.GroupIllustrations": "Illustrations",
  "ASPxRichEditStringId.GroupText": "文本",
  "ASPxRichEditStringId.GroupTables": "表格",
  "ASPxRichEditStringId.GroupSymbols": "Symbols",
  "ASPxRichEditStringId.GroupLinks": "链接",
  "ASPxRichEditStringId.GroupPages": "页面",
  "ASPxRichEditStringId.GroupHeaderFooter": "Header && Footer",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignClose": "关闭",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignNavigation": "导航",
  "ASPxRichEditStringId.GroupMailMerge": "邮件合并",
  "ASPxRichEditStringId.GroupInsertFields": "插入字段",
  "ASPxRichEditStringId.GroupMailMergeView": "视图",
  "ASPxRichEditStringId.GroupCurrentRecord": "当前记录",
  "ASPxRichEditStringId.GroupFinish": "完成",
  "ASPxRichEditStringId.GroupDocumentViews": "Document Views",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignOptions": "选项",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignPosition": "位置",
  "ASPxRichEditStringId.GroupPageSetup": "页面设置",
  "ASPxRichEditStringId.GroupDocumentProtection": "Protect",
  "ASPxRichEditStringId.GroupDocumentProofing": "Proofing",
  "ASPxRichEditStringId.GroupDocumentComment": "Comment",
  "ASPxRichEditStringId.GroupDocumentTracking": "Tracking",
  "ASPxRichEditStringId.GroupTableOfContents": "Table of Contents",
  "ASPxRichEditStringId.GroupFloatingPictureToolsArrange": "排列",
  "ASPxRichEditStringId.GroupFloatingPictureToolsShapeStyles": "Shape Styles",
  "ASPxRichEditStringId.GroupCaptions": "标题",
  "ASPxRichEditStringId.GroupPageBackground": "背景",
  "ASPxRichEditStringId.GroupDocumentLanguage": "语言",
  "ASPxRichEditStringId.GroupView": "视图",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyleOptions": "Table Style Options",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyles": "Table Styles",
  "ASPxRichEditStringId.GroupTableToolsDesignBordersAndShadings": "Borders && Shadings",
  "ASPxRichEditStringId.GroupTableToolsLayoutTable": "表格",
  "ASPxRichEditStringId.GroupTableToolsLayoutRowsAndColumns": "Rows && Columns",
  "ASPxRichEditStringId.GroupTableToolsLayoutMerge": "合并",
  "ASPxRichEditStringId.GroupTableToolsLayoutCellSize": "Cell Size",
  "ASPxRichEditStringId.GroupTableToolsLayoutAlignment": "对齐",
  "ASPxRichEditStringId.GroupFloatingObjectsShapeStyles": "Shape Styles",
  "ASPxRichEditStringId.GroupFloatingObjectsArrange": "排列",
  "ASPxRichEditStringId.RequiredFieldError": "This field is required",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreen": "Full Screen",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreenDescription": "Enable / disable the full screen mode.",
  "ASPxRichEditStringId.SaveAsFileTitle": "另存为",
  "ASPxRichEditStringId.OpenFileTitle": "打开",
  "ASPxRichEditStringId.FontTitle": "字体",
  "ASPxRichEditStringId.ParagraphTitle": "段落",
  "ASPxRichEditStringId.PageSetupTitle": "页面设置",
  "ASPxRichEditStringId.ColumnsTitle": "列",
  "ASPxRichEditStringId.InsertTableTitle": "插入表格",
  "ASPxRichEditStringId.InsertTableCellsTitle": "插入单元格",
  "ASPxRichEditStringId.DeleteTableCellsTitle": "Delete Cells",
  "ASPxRichEditStringId.SplitTableCellsTitle": "Split Cells",
  "ASPxRichEditStringId.TablePropertiesTitle": "Table Properties",
  "ASPxRichEditStringId.BorderShadingTitle": "Borders and Shading",
  "ASPxRichEditStringId.InsertMergeFieldTitle": "Insert Merge Field",
  "ASPxRichEditStringId.ExportRangeTitle": "Export Range",
  "ASPxRichEditStringId.BookmarkTitle": "书签",
  "ASPxRichEditStringId.FindReplaceTitle": "查找和替换",
  "ASPxRichEditStringId.InsertImageTitle": "Insert Picture",
  "ASPxRichEditStringId.ErrorTitle": "错误",
  "ASPxRichEditStringId.SpellingTitle": "拼写检查",
  "ASPxRichEditStringId.InformationTitle": "信息",
  "ASPxRichEditStringId.WarningTitle": "警告",
  "ASPxRichEditStringId.RulerMarginLeftTitle": "Margin Left",
  "ASPxRichEditStringId.RulerMarginRightTitle": "Margin Right",
  "ASPxRichEditStringId.RulerFirstLineIdentTitle": "",
  "ASPxRichEditStringId.RulerHangingIdentTitle": "",
  "ASPxRichEditStringId.RulerRightIdentTitle": "",
  "ASPxRichEditStringId.RulerLeftIdentTitle": "",
  "ASPxRichEditStringId.RulerFirstLineIndentTitle": "First Line Indent",
  "ASPxRichEditStringId.RulerHangingIndentTitle": "Hanging Indent",
  "ASPxRichEditStringId.RulerRightIndentTitle": "Right Indent",
  "ASPxRichEditStringId.RulerLeftIndentTitle": "Left Indent",
  "ASPxRichEditStringId.RulerLeftTabTitle": "Left Tab",
  "ASPxRichEditStringId.RulerRightTabTitle": "Right Tab",
  "ASPxRichEditStringId.RulerCenterTabTitle": "Center Tab",
  "ASPxRichEditStringId.RulerDecimalTabTitle": "Decimal Title",
  "ASPxRichEditStringId.MarginsNarrow": "Narrow",
  "ASPxRichEditStringId.MarginsNormal": "正常",
  "ASPxRichEditStringId.MarginsModerate": "Moderate",
  "ASPxRichEditStringId.MarginsWide": "宽",
  "ASPxRichEditStringId.ModelIsChangedError": "The document has been modified outside the editor and needs to be reloaded. <br />Your last-minute changes might not be preserved, if any.",
  "ASPxRichEditStringId.SessionHasExpiredError": "Your session has expired. <br />Please refresh the page to continue.",
  "ASPxRichEditStringId.OpeningAndOverstoreImpossibleError": "The open and save document operations are not allowed<br />since the working directory is not specified for the editor.",
  "ASPxRichEditStringId.ClipboardAccessDeniedError": "Access to the clipboard is denied due to your browser's security policy. <br />Instead, you can use the keyboard shortcuts:<br />{0}+X (cut), {0}+C (copy) and {0}+V (paste).",
  "ASPxRichEditStringId.ClipboardAccessDeniedErrorTouch": "Access to the clipboard is denied due to your browser's security policy. Instead, use the native menu that can be invoked by tapping and holding selected content.",
  "ASPxRichEditStringId.InnerExceptionsError": "An unspecified error occurred and the editor needs to be reloaded. Your last changes can be lost.",
  "ASPxRichEditStringId.AuthExceptionsError": "Access to the document is restricted and the editor needs to be reloaded. Your last changes can be lost.",
  "ASPxRichEditStringId.CantSaveToEmptyPathError": "无法保存不从文件打开的文档。处理保存事件来处理自定义的保存",
  "ASPxRichEditStringId.ConfirmOnLosingChanges": "Are you sure you want to perform the action? All unsaved document data will be lost.",
  "ASPxRichEditStringId.RestartNumbering": "Restart Numbering",
  "ASPxRichEditStringId.ContinueNumbering": "Continue Numbering",
  "ASPxRichEditStringId.UpdateField": "Update Field",
  "ASPxRichEditStringId.ToggleFieldCodes": "Toggle Field Codes",
  "ASPxRichEditStringId.OpenHyperlink": "Open hyperlink",
  "ASPxRichEditStringId.EditHyperlink": "Edit hyperlink..",
  "ASPxRichEditStringId.RemoveHyperlink": "Remove hyperlink",
  "ASPxRichEditStringId.CantOpenDocumentError": "The document could not be opened because a server error occurred.",
  "ASPxRichEditStringId.CantSaveDocumentError": "The document could not be saved because a server error occurred.",
  "ASPxRichEditStringId.DocVariableExceptionError": "The DOCVARIABLE field could not be calculated because a server error occurred.",
  "ASPxRichEditStringId.InvalidDocumentFormatError": "The file is corrupt and cannot be opened.",
  "ASPxRichEditStringId.InsertContentFromServerExceptionError": "The InsertContentFromServerCommand could not be executed because a server error occurred.",
  "ASPxRichEditStringId.LoadPictureError": "Could not load the image.",
  "ASPxRichEditStringId.MenuCmd_CreateField": "Create Field",
  "ASPxRichEditStringId.MenuCmd_CreateFieldDescription": "Create a dynamic element used as a placeholder for data that might change in a document.",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFields": "Update All Fields",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFieldsDescription": "Refresh all dynamic elements in the document by getting the latest source data.",
  "ASPxRichEditStringId.ParagraphStyles": "Paragraph Styles",
  "ASPxRichEditStringId.CharacterStyles": "Character Styles",
  "ASPxRichEditStringId.BulletedAndNumberingTitle": "Bulleted and Numbering",
  "ASPxRichEditStringId.CustomizeNumberedListTitle": "Customize Numbered List",
  "ASPxRichEditStringId.CustomizeBulletedListTitle": "Customize Bulleted List",
  "ASPxRichEditStringId.CustomizeOutlineNumberedTitle": "Customize Outline List",
  "ASPxRichEditStringId.HyperlinkTitle": "超链接",
  "ASPxRichEditStringId.TabsTitle": "Tabs",
  "ASPxRichEditStringId.SymbolsTitle": "Symbols",
  "ASPxRichEditStringId.OtherLabels_None": "none",
  "ASPxRichEditStringId.OtherLabels_All": "全部",
  "ASPxRichEditStringId.OtherLabels_ConfirmToRewriteExistingFile": "already exist. Do you want to replace it?",
  "ASPxRichEditStringId.Numbering_Character": "Character...",
  "ASPxRichEditStringId.Numbering_Font": "Font...",
  "ASPxRichEditStringId.Numbering_BulletCharacter": "Bullet character",
  "ASPxRichEditStringId.Numbering_BulletPosition": "Bullet position",
  "ASPxRichEditStringId.Numbering_TextPosition": "文本位置",
  "ASPxRichEditStringId.Numbering_AlignedAt": "Aligned at",
  "ASPxRichEditStringId.Numbering_IndentAt": "Indent at",
  "ASPxRichEditStringId.Numbering_StartAt": "Start at",
  "ASPxRichEditStringId.Numbering_NumberFormat": "Number format",
  "ASPxRichEditStringId.Numbering_NumberStyle": "Number style",
  "ASPxRichEditStringId.Numbering_NumberPosition": "Number position",
  "ASPxRichEditStringId.Numbering_Left": "左",
  "ASPxRichEditStringId.Numbering_Center": "居中",
  "ASPxRichEditStringId.Numbering_Right": "右",
  "ASPxRichEditStringId.Numbering_FollowNumberWith": "Follow Number With",
  "ASPxRichEditStringId.Numbering_Level": "Level",
  "ASPxRichEditStringId.Numbering_TabCharacter": "Tab character",
  "ASPxRichEditStringId.Numbering_Space": "Space",
  "ASPxRichEditStringId.Numbering_Nothing": "Nothing",
  "ASPxRichEditStringId.Numbering_Customize": "自定义...",
  "ASPxRichEditStringId.Numbering_Bulleted": "Bulleted",
  "ASPxRichEditStringId.Numbering_Numbered": "Numbered",
  "ASPxRichEditStringId.Numbering_OutlineNumbered": "Outline Numbered",
  "ASPxRichEditStringId.Hyperlink_EmailAddress": "E-mail address",
  "ASPxRichEditStringId.Hyperlink_Url": "URL",
  "ASPxRichEditStringId.Hyperlink_Bookmark": "书签",
  "ASPxRichEditStringId.Hyperlink_WebPage": "Web page",
  "ASPxRichEditStringId.Hyperlink_PlaceInThisDocument": "Place in this document",
  "ASPxRichEditStringId.Hyperlink_EmailTo": "E-mail to",
  "ASPxRichEditStringId.Hyperlink_Subject": "主题",
  "ASPxRichEditStringId.Hyperlink_DisplayProperties": "DisplayProperties",
  "ASPxRichEditStringId.Hyperlink_Text": "文本",
  "ASPxRichEditStringId.Hyperlink_ToolTip": "ToolTip",
  "ASPxRichEditStringId.Hyperlink_InvalidEmail": "Invalid E-mail",
  "ASPxRichEditStringId.Tabs_Set": "Set",
  "ASPxRichEditStringId.Tabs_Clear": "清除",
  "ASPxRichEditStringId.Tabs_ClearAll": "清除所有",
  "ASPxRichEditStringId.Tabs_TabStopPosition": "Tab stop position",
  "ASPxRichEditStringId.Tabs_DefaultTabStops": "Default tab stops",
  "ASPxRichEditStringId.Tabs_TabStopsToBeCleared": "Tab stops to be cleared",
  "ASPxRichEditStringId.Tabs_Alignment": "对齐",
  "ASPxRichEditStringId.Tabs_Leader": "前导符",
  "ASPxRichEditStringId.Tabs_Left": "左",
  "ASPxRichEditStringId.Tabs_Center": "居中",
  "ASPxRichEditStringId.Tabs_Right": "右",
  "ASPxRichEditStringId.Tabs_Decimal": "十进制",
  "ASPxRichEditStringId.Tabs_None": "无",
  "ASPxRichEditStringId.Tabs_Hyphens": "Hyphens",
  "ASPxRichEditStringId.Tabs_EqualSign": "Equal signs",
  "ASPxRichEditStringId.Tabs_Dots": "Dots",
  "ASPxRichEditStringId.Tabs_Underline": "下划线",
  "ASPxRichEditStringId.Tabs_MiddleDots": "Middle dots",
  "ASPxRichEditStringId.Tabs_ThickLine": "Thick line",
  "ASPxRichEditStringId.FinishMerge_From": "From",
  "ASPxRichEditStringId.FinishMerge_Count": "计数",
  "ASPxRichEditStringId.FinishMerge_MergeMode": "Merge mode",
  "ASPxRichEditStringId.FinishMerge_AllRecords": "All records",
  "ASPxRichEditStringId.FinishMerge_CurrentRecord": "Current record",
  "ASPxRichEditStringId.FinishMerge_Range": "范围",
  "ASPxRichEditStringId.FinishMerge_NewParagraph": "New Paragraph",
  "ASPxRichEditStringId.FinishMerge_NewSection": "New Section",
  "ASPxRichEditStringId.FinishMerge_JoinTables": "Join Tables",
  "ASPxRichEditStringId.InsertMergeField_Fields": "字段",
  "ASPxRichEditStringId.Bookmarks_BookmarkName": "Bookmark name",
  "ASPxRichEditStringId.Bookmarks_SortBy": "Sort by",
  "ASPxRichEditStringId.Bookmarks_Name": "名称",
  "ASPxRichEditStringId.Bookmarks_Location": "位置",
  "ASPxRichEditStringId.Bookmarks_Add": "添加",
  "ASPxRichEditStringId.Bookmarks_Delete": "删除",
  "ASPxRichEditStringId.Bookmarks_GoTo": "Go To",
  "ASPxRichEditStringId.Bookmarks_NameErrorText": "Bookmark names must begin with a letter",
  "ASPxRichEditStringId.FindReplace_Find": "查找",
  "ASPxRichEditStringId.FindReplace_AdvancedFind": "高级查找",
  "ASPxRichEditStringId.FindReplace_Replace": "替换",
  "ASPxRichEditStringId.FindReplace_ReplaceAll": "全部替换",
  "ASPxRichEditStringId.FindReplace_ReplaceWith": "替换为",
  "ASPxRichEditStringId.FindReplace_Previous": "上一页",
  "ASPxRichEditStringId.FindReplace_Next": "下一个",
  "ASPxRichEditStringId.FindReplace_MatchCase": "区分大小写",
  "ASPxRichEditStringId.FindReplace_Results": "结果",
  "ASPxRichEditStringId.FindReplace_NoResult": "We couldn't find what you were looking for.",
  "ASPxRichEditStringId.FindReplace_TooLongResult": "The result is too long. Check out the pages to see your results in text.",
  "ASPxRichEditStringId.FindReplace_ReplaceAllNotify": "{0} 条目已被取代",
  "ASPxRichEditStringId.FindReplace_Items": "项目",
  "ASPxRichEditStringId.FindReplace_NoMatches": "No matches",
  "ASPxRichEditStringId.FindReplace_Of": "的",
  "ASPxRichEditStringId.SpellingCheckCompletedInformation": "The spelling check is complete.",
  "ASPxRichEditStringId.Spelling_IgnoreOnce": "忽略一次",
  "ASPxRichEditStringId.Spelling_IgnoreAll": "忽略所有",
  "ASPxRichEditStringId.Spelling_AddToDictionary": "添加到词典",
  "ASPxRichEditStringId.Spelling_Delete": "删除",
  "ASPxRichEditStringId.Spelling_Change": "变化",
  "ASPxRichEditStringId.Spelling_ChangeAll": "更改所有",
  "ASPxRichEditStringId.Spelling_NotInDictionary": "不在词典中：",
  "ASPxRichEditStringId.Spelling_RepeatedWord": "重复词：",
  "ASPxRichEditStringId.Spelling_Suggestions": "建议：",
  "ASPxRichEditStringId.Spelling_NoSpellingSuggestions": "(无拼写建议)",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCase": "Sentence case.",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCaseDescription": "Sentence case.",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsForm": "Cell Margins",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsFormDescription": "Customize cell margins",
  "ASPxRichEditStringId.MenuCmd_HeaderOffset": "Header from Top:",
  "ASPxRichEditStringId.MenuCmd_FooterOffset": "Footer from Bottom:",
  "ASPxRichEditStringId.MenuCmd_HeaderOffsetDescription": "指定从页面的顶部到页眉顶部的距离。",
  "ASPxRichEditStringId.MenuCmd_FooterOffsetDescription": "Specify the distance from the bottom of the page to the bottom of the footer.",
  "ASPxRichEditStringId.LayoutOptions_Inline": "In line with text",
  "ASPxRichEditStringId.LayoutOptions_LockAnchor": "Lock Anchor",
  "ASPxRichEditStringId.LayoutOptions_LockAspectRatio": "Lock aspect ratio",
  "ASPxRichEditStringId.LayoutOptions_Reset": "重置",
  "ASPxRichEditStringId.LayoutOptions_BothSides": "Both sides",
  "ASPxRichEditStringId.LayoutOptions_LeftOnly": "Left only",
  "ASPxRichEditStringId.LayoutOptions_RightOnly": "Right only",
  "ASPxRichEditStringId.LayoutOptions_LargestOnly": "Largest only",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentInside": "内部",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentOutside": "外部",
  "ASPxRichEditStringId.LayoutOptions_Position": "位置",
  "ASPxRichEditStringId.LayoutOptions_Horizontal": "水平",
  "ASPxRichEditStringId.LayoutOptions_Vertical": "垂直",
  "ASPxRichEditStringId.LayoutOptions_RelativeTo": "relative to",
  "ASPxRichEditStringId.LayoutOptions_HorizontalBookLayoutOf": "的",
  "ASPxRichEditStringId.LayoutOptions_AbsolutePosition": "Absolute position",
  "ASPxRichEditStringId.LayoutOptions_RelativePosition": "Relative position",
  "ASPxRichEditStringId.LayoutOptions_Alignment": "对齐",
  "ASPxRichEditStringId.LayoutOptions_BookLayout": "Book layout",
  "ASPxRichEditStringId.LayoutOptions_ToTheRightOf": "to the right of",
  "ASPxRichEditStringId.LayoutOptions_Below": "below",
  "ASPxRichEditStringId.LayoutOptions_TextWrapping": "Text Wrapping",
  "ASPxRichEditStringId.LayoutOptions_WrappingStyle": "Wrapping style",
  "ASPxRichEditStringId.LayoutOptions_WrapText": "Wrap text",
  "ASPxRichEditStringId.LayoutOptions_DistanceFromText": "Distance from text",
  "ASPxRichEditStringId.LayoutOptions_Size": "大小",
  "ASPxRichEditStringId.LayoutOptions_Absolute": "Absolute",
  "ASPxRichEditStringId.LayoutOptions_Relative": "Relative",
  "ASPxRichEditStringId.LayoutOptions_Rotate": "旋转",
  "ASPxRichEditStringId.LayoutOptions_Rotation": "Rotation",
  "ASPxRichEditStringId.LayoutOptions_Scale": "旋转",
  "ASPxRichEditStringId.LayoutOptions_OriginalSize": "Original size",
  "ASPxRichEditStringId.FileManager_OpenedFileDeleteErrorText": "The file cannot be deleted. It is already opened by another user.",
  "ASPxRichEditStringId.FileManager_OpenedFileMoveErrorText": "The file cannot be moved. It is already opened by another user.",
  "ASPxRichEditStringId.FileManager_OpenedFileRenameErrorText": "The file cannot be renamed. It is already opened by another user.",
  "ASPxRichEditStringId.CreateDateField": "DATE",
  "ASPxRichEditStringId.CreateDateFieldDescription": "Inserts the current date and time.",
  "ASPxRichEditStringId.CreateTimeField": "TIME",
  "ASPxRichEditStringId.CreateTimeFieldDescription": "Inserts the current time.",
  "ASPxRichEditStringId.CreatePageField": "PAGE",
  "ASPxRichEditStringId.CreatePageFieldDescription": "Inserts the number of the page containing the field.",
  "ASPxRichEditStringId.CreatePageCountField": "NUMPAGES",
  "ASPxRichEditStringId.CreatePageCountFieldDescription": "Inserts the total number of pages.",
  "ASPxRichEditStringId.CreateEmptyMergeField": "MERGEFIELD",
  "ASPxRichEditStringId.CreateEmptyMergeFieldDescription": "Retrieves a value from the bound data source.",
  "ASPxRichEditStringId.CreateEmptyDocVariableField": "DOCVARIABLE",
  "ASPxRichEditStringId.CreateEmptyDocVariableFieldDescription": "Enables you to programmatically insert complex content when this field is updated.",
  "ASPxRichEditStringId.InsertMergeField_NoFields": "no fields",
  "ASPxRichEditStringId.Tabs_NoTabs": "no tabs",
  "ASPxRichEditStringId.Bookmarks_NoBookmarks": "No bookmarks",
  "ASPxRichEditStringId.MenuCmd_Font_settings": "Font settings",
  "ASPxRichEditStringId.MenuCmd_Align_Paragraph": "Align Paragraph"
}